extends ../../base/layout.pug

block content
  main.log
    h2 Лог важных событий*
    section 
      h3.year 2018
      ul
        //- li.record
        //-   span.date 29 Oct
        //-   | Знакомство с Милославом
        li.record
          span.date 20 Nov
          | Доклад 
          a(class="link" href="https://youtu.be/4MQ-gY05CY4?t=304") «255 оттенков серого»
          | на митапе PiterCSS (Спб)
        li.record
          span.date 17 Nov
          | Релиз 
          a(class="link" href="https://store.steampowered.com/app/953060/Go_to_IT/") «Go to IT»
          | от Black Deck Crew в Steam
        li.record
          span.date 10 Nov
          | Окончен курс о долговременных начинаниях Тимура Зарудного
        li.record
          span.date 16 Oct
          | Предложение испытательного срока от Breadhead
        li.record
          span.date 20 Sep
          | Успешно прошёл обучениe первый ученик в HTMLacademy
        //- li.record
        //-   span.date 17 Sep
        //-   | Прекращена работа с Black Deck Crew
        li.record
          span.date 10 Sep
          | Переезд в Санкт-Петербург
        li.record
          span.date 26 Aug
          | V «ПБИ», лекция «Слабость воли» (Нск)
        li.record
          span.date 19 Jul
          | Рождение бренда «Martyn Son» 
        li.record
          span.date 17 Jun
          |  Публикация этого лога
        li.record
          span.date 10 Jun
          |  Начало работы с Black Deck Crew
        //- li.record
        //-   span.date 09 Jun
        //-   |  Конец работы в Noveo
        li.record
          span.date 26 May
          |  IV встреча «ПБИ» в культурном центре «Этаж» (Нск)
        li.record
          span.date 25 May
          |  Секретное памятное событие
        //- li.record
        //-   span.date 15 May
        //-   |  Первый разговор с Борей
        li.record
          span.date 09 May
          |  Знакомство с Александром Гапаком
        li.record
          span.date 01 May
          |  «Logout mode» для vk.com
        li.record
          span.date 07 Apr
          |  III встреча «ПБИ» в культурном пространстве «Крыша» (Нск)
        li.record
          span.date 24 Mar
          |  Доклад «Не QWERTY единой» на митапе DEVNSK (Нск)
        li.record
          span.date 11 Mar
          |  Запущен сайт mrtnsn.me
        li.record
          span.date 07 Mar
          |  Создан канал «Метабаза» в Telegram
        li.record
          span.date 25 Feb
          |  II встреча «ПБИ» в культурном пространстве «Крыша» (Нск)
        li.record
          span.date 10 Feb
          |  Лекция на тему «HTML, CSS, DevTools» в Noveo Intership 2018 (Нск)
        li.record  
          span.date ?? Feb
          |  Прочтена первая книга на английском языке

    section 
      h3.year 2017
      ul
        li.record
          span.date 31 Dec
          |  II Великое Новогоднее Путешествие Саши и Володи
        li.record
          span.date 10 Dec
          |  I встреча «Проблемы Белых Идей» в культурном центре «Этаж» (Нск)
        li.record
          span.date ?? Dec
          |  Создан формат встреч «Проблемы Белых Идей» с Санчо и Дашей
        //- li.record
        //-   span.date 27 Nov
        //-   |  Знакомство с Дарьей Гиркиной
        li.record
          span.date ?? Oct
          |  Создана клавиатурная раскладка
        li.record
          span.date 19 Aug
          |  Опубликован первый выпуск подкаста «Протопилот Альфаᵝ»
        li.record
          span.date 12 Aug
          |  Создан проект «Протопилот Альфаᵝ» с Санчо 
        li.record
          span.date ?? Aug
          |  Начало работы в Noveo
        li.record
          span.date 30 Jul
          |  Запущена первая страничка в интернете
        //- li.record
        //-   span.date ?? Jul
        //-   |  Конец работы в «Армасети»
        li.record
          span.date 20 Mar
          |  Знакомство с Александром Лебедько

    section 
      h3.year 2016
      ul
        li.record
          span.date 31 Dec
          |  I Великое Новогоднее Путешествие Саши и Володи
        li.record
          span.date 18 Jul
          |  Переезд с Затулинки на Красный Проспект (Нск)
        li.record
          span.date ?? Jun
          |  Начало работы на «Армасети»
        li.record
          span.date ?? May
          |  Начало обучения web-разработке у Руслана
        li.record
          span.date 30 May
          |  Знакомство с Русланом Жубанищевым
        //- li.record
        //-   span.date ?? Apr
        //-   |  Отсоединение от проекта «Mind Design»
        li.record
          span.date ?? Apr
          | Заключён договор с Сашей об отказе от сахара
        li.record
          span.date ?? Jan
          |  Присоединение к проекту «Mind Design»
        li.record
          span.date 02 Jan
          |  Запущен паблик «мартинсоновая яма» на vk.com

    section 
      h3.year 2015
      ul
        //- li.record
        //-   span.date 04 Dec
        //-   |  Покинут проект «По вкусу»
        li.record
          span.date 27 Jun
          |  Написана первая статья
        li.record
          span.date ?? Jun
          |  Рождение бренда «Володя Мартинсон»

    section 
      h3.year 2014
      ul
        li.record
          span.date ?? Nov
          |  Начало проекта (Лампакалада > O'meal > По вкусу) с Паханом
        li.record
          span.date ?? Nov
          |  Знакомство с Павлом Дашевским

    section 
      h3.year 2013
      ul
        li.record
          span.date 07 May
          |  Знакомство с Александрой Попковой

    section 
      h3.year 2012
      ul
        li.record
          span.date 8 Aug
          |  Переезд в Новосибирск

    section 
      h3.year 2011
      ul
        li.record
          span.date ?? Jul
          |  Окончена МБОУ СОШ №3 г. Ленска
        

    p.explanation.text-center
      | *Все события написаны в обезличенной форме для непредвзятой оценки со стороны.