footer {
  font-size: 0.9em;
  line-height: 1;
  cursor: default;
  user-select: none;
  bottom: 0;
  // padding: 1.3em;
  height: 3.3rem;
  width: 100vw;
  box-sizing: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $g-color;

  svg {
    width: 1em;

    path {
      fill: $g-color;
    }
  }

  .ampersand {
    font-size: 0.6em;
    margin-left: 0.3em;
  }
}