extends ../../base/layout.pug

block content
  .metabaza-generator
    .post-card
      span.post-date 05/08/2018
      h3.theme Чтобы познать сущность нужно определить её границы
      ul.post-mods
        span.post-mod.timing 3 минуты
        span.post-mod.process без backspase
        span.post-mod.global Чистый лист
      img.metabaza-logo(src="#")