extends ../../base/layout.pug

block content
    main#contacts.basic-page
      h1.title Контакты
      h2.title Основные
      ul
        li 
          span Телеграм: 
          a.link(href="https://t-do.ru/martyns0n" target="_blank" rel="noopener") @martyns0n
        li 
          span Телефон: 
          a.link(href="tel:+7999464432" target="_blank" rel="noopener") +7 999 464 4321
        li 
          span Почта: 
          a.link(href="mailto:mrtnsn@gmail.com" target="_blank" rel="noopener") mrtnsn@gmail.com

      h2.title Соцсети
      ul.social-networks
        li: a.link(href="https://github.com/martyns0n" target="_blank" rel="noopener") Github
        li: a.link(href="https://vk.com/martyns0n" target="_blank" rel="noopener") VK
        li: a.link(href="https://www.youtube.com/channel/UCPE-DYC7ifz-BK47nm6VKHA?view_as=subscriber" target="_blank" rel="noopener") Youtube
        li: a.link(href="https://twitter.com/martyns0n_" target="_blank" rel="noopener") Twitter
        li: a.link(href="https://www.linkedin.com/in/martyns0n/" target="_blank" rel="noopener") LinkedIn
        li: a.link(href="https://moikrug.ru/ca13m" target="_blank" rel="noopener") Мой круг
        li: a.link(href="https://medium.com/@martyns0n" target="_blank" rel="noopener") Medium
        li: a.link(href="https://dev.to/" target="_blank" rel="noopener") Dev.to
        li: a.link(href="https://www.facebook.com/martyns0n" target="_blank" rel="noopener") Facebook
        