extends ../../base/layout.pug

block content
    main#contacts.basic-page
      h1.title Контакты
      ul
        li 
          span Телеграм: 
          a.link(href="https://t-do.ru/martyns0n" target="_blank") @martyns0n
        li 
          span Телефон: 
          a.link(href="tel:+7999464432" target="_blank") +7 999 464 4321
        li 
          span Почта: 
          a.link(href="mailto:mrtnsn@gmail.com" target="_blank") mrtnsn@gmail.com
      