/* Basic */

.slide h2 {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--color-black);
    line-height: 1;
    font-weight: bold;
    font-size: 48px;
}

.slide p {
    margin-top: 0;
    margin-bottom: 1em;
}

.note {
	color: var(--color-medium);
	font-size: 20px;
}

.slide figure {
    margin: 0;
}
