.idea
*.tmp
.history
.vscode
.cache
.DS_store
node_modules
package-lock.json
todo.md
yarn.lock
vue-test
dist
.publish
.publish/**/*

public/**/
public/*.html
public/sitemap.xml
public.temp

src/markup/blocks/metabaza/**/*

posts.json