.metabaza-generator {
  width: 100%;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $light-color;

  .post-card {
    // position: relative;
    display: grid;
    grid-template-columns: 33%;
    grid-template-rows: 33%;
    grid-template-areas:
      "mods mods mods"
      "theme theme theme"
      "date space logo";
    box-sizing: border-box;
    padding: 1.3em;
    width: 33em;
    min-height: 13em;
    background-color: $dark-color;
    background-image: url(http://1.bp.blogspot.com/-ZTmN5tIbtSM/UQflO4foesI/AAAAAAAAR4g/698044hMkhw/s450/Abstract+Paintings+Wallpapers+06.jpg);
    background-blend-mode: soft-light;
  }

  .post-mods {
    grid-area: mods;
    padding: 0;
    margin: 0;
  }

  .post-mod {
    display: inline-block;
    padding: 0.3em;
    border: 1px solid $y-color;
    margin-right: 0.3em;
    font-size: calc(1em / 1.3)
  }

  
  .theme {
    grid-area: theme;
    text-align: center;
    max-width: 66%;
    margin: auto;
  }

  .post-date {
    grid-area: date;
    display: subgrid;
    margin-top: auto;
  }
  
  .metabaza-logo {
    grid-area: logo;
    margin-top: auto;
    margin-left: auto;
    width: 3.3em;
  }
}