extends ../../base/layout.pug


block content
  //date:
  //tags:
  main#post.basic-page
    :markdown-it(linkify langPrefix='highlight-')
      # ЦИНИЗМ

      Наивность позволяет получать опыт и развиваться, но достаточно ли этого?

      Это плохо?

      Цинизм часто развивается там, где долгое время присутствовала неудовлетворённая потребность. Часто человек становится циничен к людям так как всегда есть соблазн обвинить окружающих в том, что реальность расходится с ожиданиями. Циничность выражается в снобизме, в лукавости, в насильственности, в предвзятости. Циничность требует категоричности: деления на чёрное и белое.

      Сила категоричности в том, что это моделирование. Все модели погрешны, простые модели -- очень, но даже простая модель позволяет с некоторым риском получить практический результат. В результате и заключается польза моделей так как 

      Цинизм важен для тебя так как именно с помощью него ты способен отделять важное от второстепенного. Ты можешь ставить приоритеты. Ты можешь категоризировать и строить жёсткие, но важные структурные элементы. Да цинизм это ригидность, но без неё невозможно дейстнвовать. Цинизм это самообман, который требуется приять чтобы не утонуть в текучести реальности и абстрактности моделей. Если ты ценичен, значит твой мозг имеет связи.