extends ../../base/layout.pug


block content
  //date:
  //tags:
  main#posts.basic-page
    :markdown-it(linkify langPrefix='highlight-')
      # Телеграм #2

      У телеграма появилась появилась возможность отправлять сообщения в архив. Это очень удобная функция и по своей сути она является доведённым до ума режимом «Workmode», о котором Мартын писал в Метабазу.

      ## Workmode

      «Рабочий режим» -- это функция предыдущего desktop-приложения (по крайней мере на MacOS). Oн позволял скрывать от глаз все заглушённые чаты. Это позволяло резко снизить степень отвелечения у Телеграма, что важно так как он стал полноценным рабочим инструментом. Но во-первых, функция была скрытой и до сих пор она многим неизвестна. А во-вторых, она имела недоработки в виде ломающейся вёрстки или невозможности отключить значок с общим количеством новых сообщений у скрытых чатов.

      ## Архив

      Если неочевидно почему Архив это Workmode здорового человека, то вот перечисление ключевых функций:

      - Добавленияе чата в Архив скрывает его из основного списка чатов
      - Заархивированных чат при этом доступен в поиске или в архивном списке
      - Режим доступен и в мобильных приложениях
      - 

      Архивирование это не удаление, поэтому стоит сделать контринтуитивную вешь -- добавить в архив все чаты.