#posts {
  max-width: none;
  padding: 0;

  #posts-block {
    @media screen and (min-width: 500px){
      margin: auto;
      min-width: 66%;
    }
  }

  h2 {
    display: none;
  }

  .title {
    font-size: var(--font-size-extra-large);
    margin: 1.3em auto 0;
  }

  #posts-block {
    margin-top: 1.3em;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  #posts-previews {
    margin: 0;
    padding-left: 1.3em;
    // margin-bottom: 3.3em;
  }

  #link-back {
    right: auto;
    left: 0;
    top: .3em;

    @media screen and (min-width: 500px) {
      left: auto;
      top: auto;
    }
  }
}

#post {
  max-width: 70ch;
  padding: 0 1.3em 1.3em;

  @media screen and (min-width: 768px) {
    margin: 3.3em auto;
    font-size: var(--font-size-medium);
    max-width: 54ch;
  }

  h1, h2, h3 {
    margin-top: 1.3em;
  }

  p {
    margin-top: 1.3em;
  }

  ul {
    list-style-type: square;
    margin-bottom: 0;
  }

  li {
    margin-top: .3em;

    p {
      margin-top: .3em;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  hr {
    color: var(--color-light);
    width: 100%;
    margin-top: 1.3em;

    & ~ p, & ~ ul {
      margin-top: .3em;
    }
  }

  // #link-back {
  //   left: 0;
  //   margin-top: 3.3em;
  // }
}

#posts-kanban {
  margin: 0 auto;

  .container {
    margin-top: 1.3em;
    display: grid;
    gap: 3.3em;
    grid-template-columns: 1fr 1fr;
  }

  .column-draft {

  }

  .column-published {

  }
}