#posts {
  max-width: none;
  padding: 0;

  h2 {
    display: none;
  }

  .title {
    font-size: var(--font-size-extra-large);
    margin: 1.3em auto 0;
  }

  .link-back {
    position: absolute;
    top: 0;
    padding: .3em 1.3em 1.3em;
    text-decoration: none;

    &::before {
      content: '◄';
      position: absolute;
      left: .3em;
    }

    @media screen and (min-width: 500px) {
      top: initial;
      bottom: 0;
    }
  }

  .text-back {
    margin-left: .3em;
    text-decoration: underline;
  }

  .hotkey-back {
    padding: .3em;
    margin-left: 1.3em;
    border: 1px solid var(--color-light);
    text-decoration: none;
    font-size: var(--font-size-small);
    font-family: var(--font-heading);
  }

  #posts-block {
    margin-top: 1.3em;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  #posts-previews {
    margin: 0;
    padding-left: 1.3em;
    // margin-bottom: 3.3em;
  }
}

#post {
  max-width: 70ch;
  padding: 0 1.3em 1.3em;

  @media screen and (min-width: 768px) {
    margin: 3.3em auto;
    font-size: var(--font-size-medium);
    max-width: 54ch;
  }

  h1, h2, h3 {
    margin-top: 1.3em;
  }

  p {
    margin-top: 1.3em;
  }

  ul {
    list-style-type: square;
    margin-bottom: 0;
  }

  li {
    margin-top: .3em;

    p {
      margin-top: .3em;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  hr {
    color: var(--color-light);
    width: 100%;
    margin-top: 1.3em;

    & ~ p, & ~ ul {
      margin-top: .3em;
    }
  }


}