extends ../../base/layout.pug

block variables
  - let scriptSrc = '/assets/js/posts.js'

block content
  main#posts.basic-page
    h1.title Посты
    p
      |Можно читать в 
      a.link(href="https://tele.click/metabaza")  Telegram
    +posts()
    +link-back()
