#resume {
  margin: auto;
  // position: relative;

  h2,
  h3,
  p {
    margin-top: 1.3em;
  }

  .text-lead,
  .location {
    margin: 0 0.3em;
  }

  .resume-part {
    position: relative;
    margin: 3.3em;
    padding: 1.3em;
    border: 3px solid currentColor;

    h2 {
      position: absolute;
      margin: 0;
      top: -1.3em;
      left: -3px;
      display: inline-block;
      padding-left: 0.3em;
      padding-right: 0.3em;
      color: $dark-color;
      background-color: $light-color;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 1.3em solid $light-color;
        border-right: 1.3em solid transparent currentColor;
        position: absolute;
        top: 0;
        right: -1.3em;
        z-index: -1;
      }
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .key {
    padding: 0.3em;
    text-align: center;
    margin-top: 1.3em;
    font-weight: 700;
  }

  .speeches {
    margin: 0;
    list-style-type: square;
  }

  .books {
    .link {
      display: block;
      width: 160px;
      margin-left: auto;
    }
  }

  .motivation {
    padding-bottom: 3.3em;
  }

  .special {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.3em;

    li {
      margin-top: 0.3em;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  .features {
    h3 {
      color: $y-color;
    }
  }

  .bugs {
    h3 {
      color: var(--color-r);
    }
  }

  .salary {
    margin-left: -1.3em;
    margin-right: -1.3em;

    h4 {
      margin-top: 0;
    }

    li {
      margin-top: 0.3em;
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .plans {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.3em;

    h4 {
      color: var(--color-g);
      font-size: 1.3em;
    }

    @media screen and (max-width: 1173px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 439px) {
      grid-template-columns: 1fr;
    }
  }

  .plan {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 176px;
    box-sizing: border-box;
    padding: 1.3em;
    border: 1px solid var(--color-g);

    ul {
      list-style-type: square;
    }
  }

  .sale {
    width: 100%;
    display: inline-block;
    background-color: $light-color;
    color: $dark-color;
    padding: 0.3em;
    text-align: center;
    margin-top: 0;
    box-sizing: border-box;
  }

  .locked {
    display: block;
    margin: 0.3em auto;
    width: 3.3em;
  }

  .contacts {
    background-color: $light-color;
    color: $dark-color;
    border-color: $light-color;

    // h2 {
    //   color: $light-color;
    //   background-color: $dark-color;

    //   &::after {
    //     border-bottom-color: $dark-color;
    //     border-right-color: $dark-color;
    //   }
    // }

    a,
    a:active,
    a:focus {
      color: $dark-color;
    }

    .contact-list {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.3em;
      padding: 0;

      @media screen and (max-width: 1044px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: '1 2''3';
      }

      @media screen and (max-width: 430px) {
        grid-template-columns: 1fr;
      }
    }

    .contact-item {
      display: flex;
      align-items: center;
      flex-flow: column;
      text-align: center;
      font-weight: 700;

      @media screen and (max-width: 430px) {
        flex-flow: row wrap;

        span {
          margin-left: 0.3em;
        }
      }
    }

    .icon-emoji {
      margin-bottom: 0.3em;

      @media screen and (max-width: 430px) {
        font-size: 1.3em;
        margin-bottom: 0;
        margin-right: 0.3em;
      }
    }

    .icon-contacts {
      width: 3.3em;
      padding: 0.3em;
      box-sizing: border-box;
    }
  }
  .avatar-container {
    width: 13.3em;
    height: 13.3em;
    margin: 3.3em auto 0;

    &:hover .avatar {
      transform: rotateY(180deg);
    }
  } 

  .avatar {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.3s var(--magic-bezier);
    transform-style: preserve-3d;

    .hideaway {
      transition: all var(--magic-bezier) 0.3s;
      bottom: -134px;
      right: 0;
      position: fixed;
      
      &:hover {
        bottom: 0;
      }
    }

    .avatar-front, .avatar-back {
      position: absolute;
      width: 100%;
      filter: grayscale(1);
      backface-visibility: hidden;
    }
    
    figcaption {
      background-color: $dark-color;
    }
    
    @media screen and (max-width: 768px) {
      width: 150px;
      bottom: -132px;
      
      img {
        border: 0.3em solid $dark-color;
      }
      
      &:hover {
        bottom: 0;
      }
    }
    
    @media screen and (max-width: 500px) {
      width: 100px;
      bottom: -108px;
      
      &:hover {
        bottom: 0;
      }
    }
  }
  
  .avatar-front {
    border-radius: 50%;
  }

  .avatar-back {
    box-sizing: border-box;
    background-color: var(--color-dark);
    transform: rotateY(180deg);
    padding: 3.3em;
  }

  .title {
    margin-top: .3em;
  }

  .code-examples {
    margin-top: 0;
  }

  .timeline {
    list-style-type: square;
    position: relative;
    padding-left: 3.3em;

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      border-left: 1px dotted $light-color;
      margin-left: 2.3em;
      left: 0;
    }

    &::after {
      content: "↑";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3.3em;
      font-family: 'Anonymous Pro',
        'Courier New',
        Courier,
        monospace;
      line-height: 0.6;
    }

    .milestone {
      font-size: 1.3em;
      margin-bottom: 1.3em;
    }

    .working-position {
      font-size: var(--font-size-small);
      margin-bottom: 0.3em;
    }

    .year {
      font-family: var(--font-heading);
      font-size: var(--font-size-small);
    }

    .sublist {
      font-size: calc(1rem / 1.3);
      margin: 0;
      margin-left: 1.3em;
      padding: 0;
      list-style-type: "▪ ";
    }
  }

  .evil-martians-logo {
    width: 3.3em;
  }

  @media screen and (max-width: 768px) {
    max-width: 99%;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  @media screen and (max-width: 500px) {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}