extends ../../base/layout.pug

block variables
    - let title = 'Резюме Мартына';
    - let description = 'Дизайнер и разработчик, а также прожектер Мартын продаёт своё время и услуги в обмен на деньги и возможность оставаться собой';
    - let keywords = 'верстальщик, дизайнер, разработчк, фронтендер, фронтенд, фронт-енд, программист, веб-разработчик, markup, UI, frontender, frontend-developer, резюме, специалист, React, Javascript, HTML, CSS, Vue, Sass, Scss, PostCSS, Junior, Middle';

block content
    main#resume.basic-page
        h1.text-center 
            |Резюме 
            span.tip.pseudonym Мартынa
            span Мартыненко Владимира Андреевича 
            .version ver. 0.4.0
        p.space-between
            span.text-lead Опытный верстальщик /
                br 
                |Начинающий JS-разработчик
            span.location.text-right
                |⚓ Санкт-Петербург
                br
                |🚇 Чкаловская / Петроградская
        
        section.skills
            h2 Навыки
            h3.no-margin Стек
            span TypeScript, ES6, React, Postcss, Pug, Sass, Gulp, Grunt, Bootstrap 3-4, Foundation for emails
            //- h3 Методологии
            //- span Адаптивность, кроссбраузерность, БЭМ, mobile first, atomic CSS, email-вёрстка
            h3 Инструменты
            span Win/Lin/Mac, VSCode, Photoshop/Illustrator, Sketch, Figma, Zeplin, Invision, Avocode, Notion
            h3 Есть опыт работы
            span Angular 2+, Vue, Webpack
            //- h3 Ключевоэ
            .key 
                |Сделаю поддерживаемую вёрстку. Уместно впишусь в команду. 
                |Полажу с дизайнерами и менеджерами.

        section.experience
            h2 Опыт
            span.text-lead.no-margin ⏱️ В сфере с июня 2016 года
            h3 Образование
            span ВУЗ'ов не оканчивал. Читаю книжки и прохожу курсы (Hexlet, HTMLacademy, Udacity и т.д.)
            h3 Где работал
            span Армасети, Noveo, Black Deck Crew, HTMLacademy, Breadhead
            h3 Для каких проектов верстал/разрабатывал
            span
                | Сервис для финансирования и оказания медициской помощи людям с онкологией, 
                | сервис мониторинга цен и закака лекарств, 
                | игра «тайкун» про разработку ПО, 
                | сервис steam-рулетка на внутриигровые предметы, 
                | сервис для улучшения показателей в гольфе и бейсболе,
                | платформа для онлайн шопинга, 
                | приложение для рассылки спама😡, 
                | Рассылка продающих электронных писем, 
            //- h3 Сторонние проекты
            //- span Канал в телеграме @metabaza, блог «Мартынсоновая Яма», наставничество по базовой вёрстке, подкаст о проективности «Протопилот Альфаᵝ» ❄, формат встреч «Проблемы Белых Идей» ❄
            h3 Примеры кода
            ul.code-examples
                li.code-example Парсинг JSON и оборачивание ссылок в компонент (React, TypeScript, RegExp) 
                    a.link(href="https://gist.github.com/martyns0n/1811fdde774523a44e1004a6ba369307") gist
                li.code-example Парсинг данных с телеграм-канала, вывод карточек с постами, фильтрация (Express.js, Node.js, React, ES6, HTML, CSS, telegram-channel-scraper) 
                    a.link(href="https://github.com/martyns0n/breadhead-test-task") client repo
                    |, 
                    a.link(href="https://github.com/martyns0n/server-for-breadhead-test-task") server repo
                li.code-example Получение данных с Google Sheets и генерация таблицы прочитанных книг (ES6, HTML, CSS) 
                    a.link(href="https://github.com/martyns0n/mrtnsn-website/blob/master/src/assets/js/booksheets.js") repo
                li.code-example Календарь-таблица событий (Angular 2+, HTML, CSS) *Старое тестовое задание* 
                    a.link(href="https://github.com/martyns0n/test-timetable") repo
                li.code-example Весь этот сайт (HTML&CSS&JS) 
                    a.link(href="https://github.com/martyns0n/mrtnsn-website") repo
            h3 Выступления
            span
                |Доклад 
                a.link(href='https://www.youtube.com/watch?v=UH5iXdGQpFo') «Не QWERTY единой» 📹
                |, лекция 
                a.link(href='https://martyns0n.github.io/weakness-of-will/') «Слабость Воли» 🖼️
                |, доклад 
                a.link(href='https://www.youtube.com/watch?v=UH5iXdGQpFo') «255&nbsp;оттенков&nbsp;серого»&nbsp;📹
            h3 Книги
            span.books
                |«Большая книга CSS», «Секреты CSS» , «Implementing responsive design», «Building HTML5 games with ImpactJS», «On web typography», «Becoming a better programmer» , «Джедайские техники», «Путь программиста», «Идеальный программист»
                br
                a.link(href="https://docs.google.com/spreadsheets/d/18YNuWP4Z6fZSGoK9rN5PyQe13YDgYQo7GhGFkO4Q08M/edit?usp=sharing")
                    span.text-right Полный список книг

        //- section.motivation
        //-     h2 Мотивация    
        //-     h3.no-margin Работа мечты
        //-     span Начитанные коллеги, прогрессивный менеджмент, гибкий график, продуктовая компания, офис
        //-     h3 Проект мечты
        //-     span Сервис/приложение созданный с учётом поведенческих наук с целью помогать людям
        //-     h3 Взгляды
        //-     span Ненасильственность, рационализм, технологичность, проективность

        section.special
            h2 Особенности
            .features
                h3.no-margin.text-center Фичи
                ul
                    li
                        span Предпочитаю работать 
                        span.tip 7 дней в неделю
                        span ~5,5 рабочих часов в день
                    li Встаю в ~7, туплю в 20:00, ложусь в 22:00
                    li Хожу на митапы и много знакомлюсь
                    li Избегаю стимуляции веществами
                    li Работаю по технике Pomodoro
                    li Сохраняю рассудок к вечеру
                    li Читаю проф. литературу
                    li Работаю стоя
                    //- li 
                    //-     span.tip Проективен
                    //-     span Шарю в менеджменте задач и проектов
            .bugs
                h3.no-margin.text-center Баги
                ul
                    li Разговариваю на английском в настоящем времени
                    li Презираю высшее образование в России
                    li Не знаю паттернов проектирования
                    li Избегаю общих праздников
                    li Панибратствую
                    li Самозванец

        section.salary
            h2 Сколько стою
            ul.plans
                li.plan 
                    h4.text-center до 30.000₽
                    p.sale Акция закончена и пока недоступна
                li.plan 
                    h4.text-center до 50.000₽
                    ul
                        li Знакомство с директорами
                        li Офис в &lt;20min пути
                        li Внутренние курсы
                        li Белая зарплата
                        li Опенсорс
                        li ДМС
                li.plan 
                    h4.text-center до 70.000₽
                    ul
                        li Крупная компания (>100 сотрудников)
                        li Удалённая работа
                        li Жёсткий график
                        li Пятидневка
                        li Аутсорс
                li.plan 
                    h4.text-center 199.999₽
                    ul
                        li Наебизнес
                        li Много легаси кода
                        li Самописный фреймворк
                        li Корпоративы в стрип-барах
        section.contacts
            h2 Контакты
            ul.contact-list
                li.contact-item
                    .icon-emoji 📧
                    a(href="mailto: mrtnsn.dev@gmail.com") mrtnsn.dev@gmail.com
                li.contact-item
                    .icon-emoji 📞
                    a(href="+79994644321") +7 (999) 464-43-21
                li.contact-item
                    .icon-emoji 🌐
                    |@martyns0n
                    br
                    span
                        a(href="https://github.com/martyns0n") Github
                        |, 
                        a(href="https://t.me/martyns0n") Telegram
                        |, 
                        a(href="https://vk.com/martyns0n") VK
                        |, etc.

        figure.avatar.no-margin
            img(src="../../../assets/img/mrtnsn-resume-avatar.jpg" alt="фотография Мартына")
            figcaption.text-center Фотография Мартына 👨‍✈️



        //- figure.logo
        //-     svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
        //-         path(d='M50 100l25-43 25 43V0H75L50 43 25 0H0v100l25-43z')
        //-     figcaption.text-center Личный логотип