extends ../../base/layout.pug

block variables
    - let title = 'Резюме Мартына';
    - let description = 'Разработчик, дизайнер, а также прожектер Мартын продаёт своё время и умения в обмен на деньги и возможность оставаться собой';
    - let keywords = 'верстальщик, дизайнер, разработчк, фронтендер, фронтенд, фронт-енд, программист, веб-разработчик, markup, UI, frontender, frontend-developer, резюме, специалист, React, Javascript, HTML, CSS, Vue, Sass, Scss, PostCSS, Junior, Middle';
    - let scriptSrc = '/assets/js/resume.js'

block content
    main#resume.basic-page
        header
            h1.title 
                |Резюме 
                span.tip М
                    span.accented а
                    |ртынa
                span Мартыненко Владимира Андреевича 
                .version ver. 1.3.1
        p.space-between
            span.text-lead Опытный верстальщик /
                br 
                |Начинающий JS-разработчик
            span.location.text-right
                |⚓ Санкт-Петербург
                br
                |🚇 Чкаловская / Петроградская
        
        section.resume-part.experience
            h2 Опыт
            span.no-margin ⏱️ Работаю в IT 
            span#time
            h3 Где верстал/разрабатывал
            ul.timeline
                li.milestone Breadhead
                    ul.sublist
                        li Сервис мониторинга цен и заказа лекарств
                        li Cервис финансирования и оказания медицинской помощи онкобольным
                li.milestone HTML Academy
                    ul.sublist
                        li В качестве наставника помог закончить курс по базовой вёрстке
                li.milestone BlackDeckCrew
                    ul.sublist
                        li Игра 
                            a.link(href="https://store.steampowered.com/app/953060/Go_to_IT/" target="_blank") «Go to IT»
                li.milestone Noveo
                    ul.sublist
                        li Платформа для онлайн шопинга
                        li Сервис для улучшения показателей в гольфе и бейсболе
                li.milestone Армасети
                    ul.sublist
                        li Рассылка электронных писем
                        li Приложение для рассылки спама😡
                        li Сервис steam-рулетка на внутриигровые предметы 
            h3 Примеры кода
            span Пришлю примеры с подробными комментариям по вашему запросу
            //- h3 Сторонние проекты
            //- span Канал в телеграме @metabaza, блог «Мартынсоновая Яма», наставничество по базовой вёрстке, подкаст о проективности «Протопилот Альфаᵝ» ❄, формат встреч «Проблемы Белых Идей» ❄
            h3 Выступления
            ul.speeches
                li
                    a.link(href='https://www.youtube.com/watch?v=UH5iXdGQpFo') «Не&nbsp;QWERTY&nbsp;единой»&nbsp;📹
                li
                    a.link(href='https://martyns0n.github.io/weakness-of-will/') «Слабость&nbsp;Воли»&nbsp;🖼️
                li
                    a.link(href='https://www.youtube.com/watch?v=4MQ-gY05CY4&feature=youtu.be&t=304') «255&nbsp;оттенков&nbsp;серого»&nbsp;📹
            h3 Прочёл
            span.books
                |«Большая книга CSS», «Секреты CSS» , «Implementing responsive design», «Building HTML5 games with ImpactJS», «On web typography», «Becoming a better programmer» , «Джедайские техники», «Путь программиста», «Идеальный программист»
                br
                a.link(href="https://docs.google.com/spreadsheets/d/18YNuWP4Z6fZSGoK9rN5PyQe13YDgYQo7GhGFkO4Q08M/edit?usp=sharing")
                    span.text-right Полный список книг

        section.resume-part.skills
            h2 Навыки
            h3.no-margin Стек
            span TypeScript, ES6, React, Postcss, Pug, Sass, Gulp
            //- h3 Методологии
            //- span Адаптивность, кроссбраузерность, БЭМ, mobile first, atomic CSS, email-вёрстка
            h3 Инструменты
            span VSCode, Photoshop/Illustrator, Sketch, Figma
            //- h3 Есть опыт работы
            //- span Angular 2+, Vue, Webpack
            //- h3 Ключевоэ
            .key 
                |Сделаю поддерживаемую вёрстку. Уместно впишусь в команду. 
                |Полажу с дизайнерами и менеджерами.

        section.resume-part.motivation
            h2 Мотивация    
            h3.no-margin Работа мечты
            span Начитанные коллеги, селф-менеджмент, гибкий график, поощрение участия и выступлений на проф. мероприятиях
            h3 Задачи мечты
            span Анимации, визуализации, нестандартные интерфейсы, эксперименты
            h3 Проект мечты
            span Сочетание веб-технологий со сферами: книги, нейронауки, игры, инструменты продуктивности
            //- h3 Взгляды
            //- span Ненасильственность, рационализм, технологичность, проективность

        section.resume-part.special
            h2 Особенности
            .features
                h3.no-margin.text-center Фичи
                ul
                    li
                        span Предпочитаю работать 
                        span.tip 7 дней в неделю
                        span ~6 рабочих часов в день
                    li Встаю в ~7, туплю в 20:00, ложусь в 22:00
                    li Люблю выступать на мероприятиях
                    li Избегаю стимуляции веществами
                    li Работаю по технике Pomodoro
                    li Сохраняю рассудок к вечеру
                    //- li Читаю проф. литературу
                    li Работаю стоя
                    //- li 
                    //-     span.tip Проективен
                    //-     span Шарю в менеджменте задач и проектов
            .bugs
                h3.no-margin.text-center Баги
                ul
                    li Пока разговариваю на английском в настоящем времени
                    li Не уважаю высшее образование в СНГ
                    li Не знаю паттернов проектирования
                    li Избегаю общих праздников
                    li Панибратствую
                    li Самозванец

        section.resume-part.salary
            h2 Сколько стою
            ul.plans
                li.plan 
                    h4.text-center до 30.000₽
                    p.sale
                        img.locked(src="../assets/icons/padlock.svg", alt="иконка дверного замка")
                        |Акция закончена и пока недоступна
                li.plan 
                    h4.text-center до 50.000₽
                    ul
                        li Знакомство с директорами
                        li Офис в &lt;20min пути
                        li Внутренние курсы
                        li Белая зарплата
                        li Опенсорс
                        li ДМС
                li.plan 
                    h4.text-center до 70.000₽
                    ul
                        li Крупная компания (>100 сотрудников)
                        li Удалённая работа
                        li Жёсткий график
                        li Пятидневка
                        li Аутсорс
                li.plan 
                    h4.text-center 199.999₽
                    ul
                        li Наебизнес
                        li Много легаси кода
                        li Самописный фреймворк
                        li Корпоративы в стрип-барах

        section.resume-part.contacts
            h2 Контакты
            ul.contact-list
                li.contact-item
                    //- .icon-emoji 📧
                    img.icon-contacts(src="../assets/icons/mail.svg")
                    a(href="mailto: mrtnsn.dev@gmail.com") mrtnsn.dev@gmail.com
                li.contact-item
                    //- .icon-emoji 📞
                    img.icon-contacts(src="../assets/icons/phone-call.svg")
                    a(href="+79994644321") +7 (999) 464-43-21
                li.contact-item
                    //- .icon-emoji 🌐
                    img.icon-contacts(src="../assets/icons/www.svg")
                    |@martyns0n
                    br
                    span
                        a(href="https://github.com/martyns0n") Github
                        |, 
                        a(href="https://t.me/martyns0n") Telegram
                        |, 
                        a(href="https://vk.com/martyns0n") VK
                        |, etc.


        figure.avatar.no-margin
            img(src="../../../assets/img/mrtnsn-resume-avatar.jpg" alt="фотография Мартына")
            figcaption.text-center Фотография Мартына 👨‍✈️

        //- a(href="#code-examples").link-for-evil-martians Ссылка для Марсиан
        //-     img(src="/assets/img/evil-martians-logo.png" alt="evil martians logo").evil-martians-logo

        //- figure.logo
        //-     svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
        //-         path(d='M50 100l25-43 25 43V0H75L50 43 25 0H0v100l25-43z')
        //-     figcaption.text-center Личный логотип