#log {
  margin: 0 auto;

  h2 {
    margin-bottom: 1.3em;
    text-align: center;
  }

  section {
    margin-bottom: 1.3em;

    &:first-of-type {
      margin-top: 1.3em;
    }
  }

  ul {
    list-style: none;
    margin-top: 0.3em;

    @media screen and (max-width: 768px) {
      padding: 0 1.3em;
    }
  }

  h3.year {
    color: var(--color-y);
    margin-left: -33px;

    @media screen and (max-width: 768px) {
      margin-left: 1.3em;
    }
  }

  li.record {
    margin: 0.3em 0;
    margin-left: 1.3em;
    max-width: 70ch;
    position: relative;
    padding-left: 0.3em;

    span {
      position: absolute;
      left: -70px;
      top: 3px;
    }

    @media screen and (max-width: 768px) {
      max-width: 50ch;
      margin-left: 3.3em;
    }
  }

  .date {
    font-family: 'Anonymous Pro',
      'Courier New',
      Courier,
      monospace;
    font-size: 12px;
    background-color: $light-color;
    color: $dark-color;
    padding: 0 0.3em;
    padding-left: 1.3em;
    margin-right: 1.3em;

    &::after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: $light-color;
      border-width: 7px;
      margin-top: -7px;
    }

    &::before {
      left: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: $dark-color;
      border-width: 7px;
      margin-top: -7px;
      z-index: 1;
    }
  }

  .explanation {
    margin-top: 3.3em;
    font-size: var(--font-size-small);
  }
}

#life-calendar {
  font-family: var(--font-heading);
  counter-reset: year;
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  width: 13em;
  border: 1px solid var(--color-light);
  position: absolute;
  margin-top: 6.3em;
  margin-right: 6.3em;
  right: 0;
  
  &::before, &::after  {
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1;
    width: 100%;
    font-weight: 700;
  }

  &::before {
    content: "Прожито";
    color: var(--color-dark);
    margin-top: 1.3em;
  }

  &::after {
    content: "Недожито";
    color: var(--color-light);
    margin-bottom: 1.3em;
    bottom: 0;
  }

  .week {
    position: relative;
    display: block;
  }
  
  .week::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
    // background: var(--color-light);
  }
  
  .week-passed::before {
    background: var(--color-r);
  }
  
  .week::after {
    position: absolute;
    left: calc(100% + 1.3em);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-small);
    line-height: 1;
  }
  
  .week:nth-child(52)::after {
    content: 'Год';
  }
  
  .week:nth-child(52n) {
    counter-increment: year;
  }
  
  .week:nth-child(520n)::after {
    content: counter(year);
  }
}
