#log {
  margin: 0 auto;

  h2 {
    margin-bottom: 1.3em;
    text-align: center;
  }

  section {
    margin-bottom: 1.3em;
  }

  ul {
    list-style: none;
    margin-top: 0.3em;

    @media screen and (max-width: 768px) {
      padding: 0 1.3em;
    }
  }

  h3.year {
    color: $c-color;
    margin-left: -33px;

    @media screen and (max-width: 768px) {
      margin-left: 1.3em;
    }
  }

  li.record {
    margin: 0.3em 0;
    margin-left: 1.3em;
    max-width: 70ch;
    position: relative;
    padding-left: 0.3em;

    span {
      position: absolute;
      left: -70px;
      top: 3px;
    }

    @media screen and (max-width: 768px) {
      max-width: 50ch;
      margin-left: 3.3em;
    }
  }

  .date {
    font-family: 'Anonymous Pro',
      'Courier New',
      Courier,
      monospace;
    font-size: 12px;
    background-color: $light-color;
    color: $dark-color;
    padding: 0 0.3em;
    padding-left: 1.3em;
    margin-right: 1.3em;

    &::after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: $light-color;
      border-width: 7px;
      margin-top: -7px;
    }

    &::before {
      left: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: $dark-color;
      border-width: 7px;
      margin-top: -7px;
      z-index: 1;
    }
  }

  .explanation {
    margin-top: 3.3em;
    font-size: calc(1em / 1.3);
  }
}