extends ../../base/layout.pug

block variables
  - let scriptSrc = '/assets/js/log.js'

block content
  main#log.basic-page
    h1.title Метапись
    p.text-center Лог жизни Мартына*
    #life-calendar


    section 
      h2.year 2020
    section 
      h2.year 2019
      details.collapsed-block
        h4 Потребление
        ul
          li Прочитал/прослушал книг: 31 (-19 от прошлого года)
          li Книга: А. Курпатов «Чертоги разума»
          li Фильм/Сериал: Космос. Пространство и Время.
          li Подкаст: Мысли и Методы
          li Музыка: Птицу ЕМЪ
          li Блог: Вастрик.ру
          li Telegram-канал: …
          li Игра: Dark Souls 3
        h4 Созидание
        ul
          li Событие: Сходка Мастридеров в СПБ #2
          li Место: Coffee Prana (Спб)
          li Увлечение: Agile-методологии
          li Проект: Моушен
          li Провал: тестовое задание в Wrike
        h4 Артефакты
        ul
          li Подарок: миниатюрная вилочка от Венеры
          li Инструмент: Fantastical 2
          li Покупка: Macbook 12 (2017)
          li Одежда: Рубашка с заклёпками из Спасибо
          li Блюдо: Соба с тофу из Coffee3
          li Наркотик: двойной эспрессо
        h4 Люди
        ul
          li Сообщество: Indie Hackers SPB
          li Знакомство: Александр Губарев
          li Человек: Фёдор Борщёв
          li Кумир: Игорь Камышев
          li Автор: Фёдор Достоевский
        summary 
          h3 Слепок года
      ul
        li.record
          span.date 30 Nov
          | Переезд с Петроградки на Московские ворота (Спб)
        li.record
          span.date 27 Nov
          | Пройден тренинг «Производительность Agile-команд» у Анны Обуховой (Scrumtrek)
        li.record
          span.date 21 Nov
          | Пройден испытательный срок в Semrush
        li.record
          span.date 26 Oct
          | Участие в хакатоне Indie Hackers Spb
        li.record
          span.date 10 Oct
          | Собрана Mastermind группа
        li.record
          span.date 28 Sep
          | Alcotalk для встречи мастридеров в Пино (Спб)
        li.record
          span.date 04 Sep
          | Пройден тренинг «Agile for developers» у Никиты Романова (SEMrush)
        li.record
          span.date 30 Aug
          | Доклад 
          a(class="link" href="https://youtu.be/QjmcSvZV_pg") «Слабость воли»
          |  на митапе Burning Lead (Спб)
        li.record
          span.date 03 Aug
          | Организована сходка проекта «Nice and Easy» в Пино (Спб)
        li.record
          span.date 23 Jul
          | Доклад 
          a(class="link" href="https://youtu.be/FG6rZegtAck?t=3047") «Не QWERTY единой»
          |  на митапе PiterPy (Спб)
        li.record
          span.date 13 Jul
          | Попал в эфир подкаста Веб стандарты
        li.record
          span.date ?? May
          | Опубликован проект С.У.К.А в сотрудничестве с Сашей
        li.record
          span.date 07 Mar
          | Куплен третий ноутбук (MacBook 12)
        li.record
          span.date ?? Feb
          | Придуман метод Матадоро
        li.record
          span.date 10 Jan
          | Запуск проекта Куб
        li.record
          span.date ?? Jan
          | Начало исследования ритмов активности


    section 
      h2.year 2018
      ul
        li.record
          span.date 31 Dec
          | Прочитано 50 книг за год
        li.record
          span.date 02 Dec
          | Стрим первого Митдауна
        li.record
          span.date ?? Dec
          | Прочитаны все романы Виктора Пелевина
        li.record
          span.date 29 Oct
          | Знакомство с Милославом
        li.record
          span.date 11 Sen
          | Знакомство с Александром Губаревым
        li.record
          span.date 20 Nov
          | Доклад 
          a(class="link" href="https://youtu.be/4MQ-gY05CY4?t=304") «255 оттенков серого»
          |  на митапе PiterCSS (Спб)
        li.record
          span.date 17 Nov
          | Релиз 
          a(class="link" href="https://store.steampowered.com/app/953060/Go_to_IT/") «Go to IT»
          |  от Black Deck Crew в Steam
        li.record
          span.date 10 Nov
          | Окончен курс о долговременных начинаниях Тимура Зарудного
        //- li.record
        //-   span.date 16 Oct
        //-   | Предложение испытательного срока от Breadhead
        li.record
          span.date 20 Sep
          | Успешное окончание обучения первого ученика в HTML Academy
        //- li.record
        //-   span.date 17 Sep
        //-   | Прекращена работа с Black Deck Crew
        li.record
          span.date 10 Sep
          | Переезд в Санкт-Петербург
        li.record
          span.date 26 Aug
          | V «ПБИ», лекция «Слабость воли» (Нск)
        li.record
          span.date 19 Jul
          | Рождение бренда «Martyn Son» 
        li.record
          span.date 17 Jun
          | Публикация этого списка
        li.record
          span.date 10 Jun
          | Начало работы с Black Deck Crew
        //- li.record
        //-   span.date 09 Jun
        //-   |  Конец работы в Noveo
        li.record
          span.date 26 May
          | IV встреча «ПБИ» в культурном центре «Этаж» (Нск)
        li.record
          span.date 25 May
          | Секретное памятное событие
        //- li.record
        //-   span.date 15 May
        //-   |  Первый разговор с Борей
        li.record
          span.date 09 May
          | Знакомство с Александром Гапаком
        li.record
          span.date 01 May
          | Переход на «Logout mode» для vk.com
        li.record
          span.date 07 Apr
          | III встреча «ПБИ» в культурном пространстве «Крыша» (Нск)
        li.record
          span.date 24 Mar
          |  Доклад «Не QWERTY единой» на митапе DEVNSK (Нск)
        li.record
          span.date 11 Mar
          |  Запущен сайт mrtnsn.me
        li.record
          span.date 07 Mar
          |  Создан канал «Метабаза» в Telegram
        li.record
          span.date 25 Feb
          |  II встреча «ПБИ» в культурном пространстве «Крыша» (Нск)
        li.record
          span.date 10 Feb
          |  Лекция на тему «HTML, CSS, DevTools» в Noveo Intership 2018 (Нск)
        li.record  
          span.date ?? Feb
          |  Прочтена первая книга на английском языке


    section 
      h2.year 2017
      ul
        li.record
          span.date 31 Dec
          |  II Великое Новогоднее Путешествие Саши и Володи
        li.record
          span.date 10 Dec
          |  I встреча «Проблемы Белых Идей» в культурном центре «Этаж» (Нск)
        li.record
          span.date ?? Dec
          |  Создан формат встреч «Проблемы Белых Идей» с Санчо и Дашей
        //- li.record
        //-   span.date 27 Nov
        //-   |  Знакомство с Дарьей Гиркиной
        li.record
          span.date 13 Oct
          |  Языческий день рождения Володи
        li.record
          span.date ?? Oct
          |  Создана клавиатурная раскладка Martynak
        li.record
          span.date 19 Aug
          |  Опубликован первый выпуск подкаста «Протопилот Альфаᵝ»
        li.record
          span.date 12 Aug
          |  Создан проект «Протопилот Альфаᵝ» с Санчо 
        li.record
          span.date ?? Aug
          |  Начало работы в Noveo
        li.record
          span.date 30 Jul
          |  Запущена первая страничка в интернете
        //- li.record
        //-   span.date ?? Jul
        //-   |  Конец работы в «Армасети»
        li.record
          span.date 20 Mar
          |  Знакомство с Александром Лебедько


    section 
      h2.year 2016
      ul
        li.record
          span.date 31 Dec
          |  I Великое Новогоднее Путешествие Саши и Володи
        li.record
          span.date 18 Jul
          |  Переезд с Затулинки на Красный Проспект (Нск)
        li.record
          span.date ?? Jun
          |  Начало работы на «Армасети»
        li.record
          span.date ?? May
          |  Начало обучения web-разработке у Руслана
        li.record
          span.date 30 May
          |  Знакомство с Русланом Жубанищевым
        //- li.record
        //-   span.date ?? Apr
        //-   |  Отсоединение от проекта «Mind Design»
        li.record
          span.date ?? Apr
          | Заключён договор с Сашей об отказе от сахара
        //- li.record
        //-   span.date ?? Jan
        //-   |  Присоединение к проекту «Mind Design»
        li.record
          span.date 02 Jan
          |  Запущен паблик «мартинсоновая яма» на vk.com


    section 
      h2.year 2015
      ul
        //- li.record
        //-   span.date 04 Dec
        //-   |  Покинут проект «По вкусу»
        li.record
          span.date ?? Oct
          |  Куплен второй ноутбук (Acer)
        li.record
          span.date 27 Jun
          |  Написана первая статья
        li.record
          span.date ?? Jun
          |  Рождение бренда «Володя Мартинсон»


    section 
      h2.year 2014
      ul
        li.record
          span.date ?? Nov
          |  Начало проекта (Лампакалада > O'meal > По вкусу) с Паханом
        li.record
          span.date ?? Nov
          |  Знакомство с Павлом Дашевским


    section 
      h2.year 2013
      ul
        li.record
          span.date 07 May
          |  Знакомство с Александрой Попковой


    section 
      h2.year 2012
      ul
        li.record
          span.date 08 Aug
          |  Переезд в Новосибирск


    section 
      h2.year 2011
      ul
        li.record
          span.date ?? Oct
          |  Куплен первый ноутбук (Acer)
        li.record
          span.date ?? Jul
          |  Окончена МБОУ СОШ №3 г. Ленска
        

    p.explanation.text-center
      | * — События написаны в обезличенной форме для непредвзятой оценки со стороны.