extends ../../base/layout.pug

block content
    main#dopamine-the-cat.basic-page
      h1.title Дофамин — кот и нейромедиатор
      img(src="/assets/img/drawings/dopamine-the-cat.png" )
      p
        |Сибирирский кот. 4&nbsp;года.
        br
        |Жиробас&nbsp;—&nbsp;7&nbsp;кг.
        br
        br
        |Шалун, интриган, ненавистник. Любит крякать, вылизывать подмышки и мять.
        br
        br
        |Зависим физически, но не ментально. Считает Мартына мамой.
        br
        |Любит точить когти о штаны гостей. Не любит навязчивое внимание и тисканье.
        br
        br
        |Имеет разряд «мастера» по заваливанию на бочок.
        br
        br
        |Имеет личный инстаграм-аккаунт 
        br
        a.link(href="https://www.instagram.com/dopamine_the_cat/") instagram.com/dopamine_the_cat