extends ../../base/layout.pug

block content
    main#hello-stranger.basic-page.paper
        h1.text-center Привет, путник

        p Это веблог Мартына — программиста и прожектера. 

        p Здесь ты можешь почитать 
          a(href="/papers" class="link") статьи
          |  и 
          a(href="/posts" class="link") посты.
        p А также посмотреть на 
          a(href="/log" class="link") лог жизни
          |, 
          a(href="/resume" class="link") резюме
          |, 
          a(href="/books" class="link") книжную таблицу
          |  и  
          a(href="/shows" class="link") список выступлений
          |.