extends ../../base/layout.pug

block content
    main#hello-stranger.basic-page.paper
        h1.text-center Привет, путник

        p Это Мартын, программист и прожектер. Увлекается ведением дел и оптимизацией бытовых процессов. Когда ему хорошо, он изобретает.

        p Здесь ты можешь почитать его статьи и посты, а также посмотреть его 
          a(href="#" class="link") лог жизни
          |, 
          a(href="#" class="link") резюме
          |, 
          a(href="#" class="link") книжную таблицу
          |  и  
          a(href="#" class="link") выступления
          |.