extends ../../base/layout.pug

block content
    main#hello-stranger.basic-page.paper
        h1.text-center Привет, путник

        p Это веблог Мартына — программиста и прожектера. 

        p Здесь ты можешь найти статьи и посты, а также посмотреть на 
          a(href="#" class="link") лог жизни
          |, 
          a(href="#" class="link") резюме
          |, 
          a(href="#" class="link") книжную таблицу
          |  и  
          a(href="#" class="link") список выступлений
          |.