extends ../../base/layout.pug

block content
  main.achievements
    h1.logo
      .logo__img
        object.deal-with-it-2(type='image/svg+xml', data='../assets/img/svg/deal-with-it2.svg') 0
        object.m(type='image/svg+xml', data='../assets/img/svg/pixel-M.svg') M
        object.deal-with-it(type='image/svg+xml', data='../assets/img/svg/deal-with-it.svg') 0
      .logo__text
        span Доска
        span Достижений
        span Мартинсона
    .renouncements
      h2 Отказные
      div
        .achievement(achiev-title='Отказ от будильника')
          img(src='../assets/img/achievements-icons/phone-alarm-black.png')
        .achievement(achiev-title='Отказ от сахара')
          img(src='../assets/img/achievements-icons/sugar-black.png')
        .achievement(achiev-title='Отказ от порно')
          img(src='../assets/img/achievements-icons/porn-black.png')
        .achievement(achiev-title='Отказ от сетевого общепита')
          img(src='../assets/img/achievements-icons/network-food-black.png')
        .achievement(achiev-title='Отказ от доставки еды')
          img(src='../assets/img/achievements-icons/food-delivery-black.png', alt='')
    .numbers
      h2 Количественные
      div
        .achievement(achiev-title='4 года в отношениях')
          img(src='../assets/img/achievements-icons/anniversary-black.png', alt='')
        .achievement.frontend(achiev-title='1 год во фронтенде')
          div
            img(src='../assets/img/achievements-icons/frontend2-black.png', alt='')
        .achievement(achiev-title='Прочёл или прослушал 65 книг')
          img(src='../assets/img/achievements-icons/books-black.png', alt='')
        .achievement(achiev-title='Запустил 1 сайт (этот)')
          img(src='../assets/img/achievements-icons/website-black.png', alt='')
    .games
      h2 Игровые
      div
        .achievement(achiev-title='144 зн/мин (EN) на klavogonki .ru')
          img(src='../assets/img/achievements-icons/klavogonki.png', alt='')
        .achievement(achiev-title='Ранг "believer" (25/213) на codeabbey .com')
          img(src='../assets/img/achievements-icons/codeabbey.png', alt='')
        .achievement(achiev-title='5 из 20 достижений в SpaceChem')
          img(src='../assets/img/achievements-icons/spacechem.png', alt='')
  .description