doctype html
html(lang='ru')
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111939915-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-111939915-1');
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title MRTNSNpit
        meta(name="yandex-verification" content="890d7087302c8e0d")
        meta(name='description', content='Связующий сайт проекта «Мартинсоновая Яма»')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='apple-touch-icon', href='/icon.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;subset=cyrillic")
        //- styles
        link(rel='stylesheet', type='text/css', href='/assets/styles/style.min.css')
        //- favicons
        link(rel='icon', href='/assets/img/svg/dark-logo.svg', sizes='any', type='image/svg+xml')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/site.webmanifest')
    body
        include ../blocks/header.pug
        block content
        include ../blocks/footer.pug
        script#dsq-count-scr(src='https://mrtnsn.disqus.com/count.js')
        script(type="text/javascript", src="/js/script.min.js")