.books {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  table {
    margin-top: 1.3em;
    width: 100%;
  }

  colgroup {
    width: 100%;

    .bookName {
      width: 50%;
    }

    .bookReview {
      width: 50%;
    }
  }

  /* // row groups */
  thead {
    font-size: 1.3em;
  }

  tbody tr {
    /* transform: translate(-3.3em, -1.3em);
    opacity: 0;
    transition: all ease-in 0.3s;
    will-change: transform, opacity;

    &.transition {
      transform: translate(0);
      opacity: 1;
    } */
  }

  tbody tr, tfoot tr {
      &.year-heading {
        font-family: 'Anonymous Pro', 'Book Antiqua', Palatino, 'Palatino Linotype',
        'Palatino LT STD', Georgia, 'Times New Roman', Times, serif;
        font-size: 1.3em;

        td {
          border-bottom: 1px solid var(--color-light);
        }
    }
  }

  /* // cells */
  th {
    background-color: var(--color-dark);
    text-align: left;
    border-bottom: 3px solid var(--color-light);
    padding: 0.3em;
    top: 0;
    position: sticky;
    transform: translate(0);
    will-change: transform;
    z-index: 1;
    top: 60px;
  }

  td {
    padding: 1.3em 0.3em 0.3em;
    vertical-align: top;
  }
}

.loader {
  width: 100%;
  margin: 40px auto;
  opacity: 1;
  transition: all .3s ease-out;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;

  svg {
    margin: auto;
  }
}

.fadeOut  {
  opacity: 0;
}

.title {
  margin-top: 1.3em;
  text-align: center;
}