#papers {
	margin: 1.3em auto 0;
}

.paper {
	padding: 3.3em 0;
	width: 66vw;
	margin: 0 auto;
	color: $light-color;

	h1,
	h2,
	h3,
	p {
		margin-top: 1.3em;
	}

	h2 {
		max-width: 606px;
	}

	p {
		text-align: left;
		max-width: 70ch;
		text-align: left;
	}

	ul {
		margin: 1.3em 0;
	}

	header {
		display: flex;
	}

	@media screen and (max-width: 1023px) {
		width: 90vw;
		margin: 0 auto;
		color: $light-color;

		ul {
			list-style: none;
		}

		header {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}
	}

	.img-title {
		width: 280px;
		min-height: 200px;
		margin-left: 1.3em;
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $dark-color;
		background-blend-mode: luminosity;
		border: 1px solid $light-color;

		@media screen and (max-width: 1023px) {
			margin-left: 0;
			margin-top: 1.3em;
		}
	}

	@media screen and (min-width: 1440px) {
		width: 49.5vw;
	}

	@media screen and (min-width: 2000px) {
		width: 33vw;
	}
}

.intro {
	width: calc(100% - (384px + 3em));
	text-align: center;

	@media screen and (max-width: 1023px) {
		width: 100%;
	}
}

.text-to-right {
	display: flex;
	width: 100%;

	@media screen and (max-width: 1023px) {
		flex-flow: column nowrap;
	}
}

.animation-container {
	background-color: black;
	margin: 47px 1.3em 1.3em 0;
	display: flex;
	align-items: center;
	border: 1px solid $light-color;

	video {
		width: 240px;
	}

	@media screen and (max-width: 1023px) {
		margin: 3em auto 1.3em;
		justify-content: center;
	}
}

.text-container {
	max-width: 70ch;

	@media screen and (max-width: 1023px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.quote {
	font-family: Roboto Slab, 'Times New Roman', Times, serif;
	font-size: 1.3rem;
	color: $dark-color;
	background-color: $light-color;
	position: relative;
	padding: 1em 3em;
	margin: 3em 3em;

	blockquote {
		margin: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		&::before,
		&::after {
			line-height: 1;
			font-size: 6.66rem;
			margin-top: -0.3em;
		}

		&::before {
			content: '\00AB	';
		}

		&::after {
			content: '\00BB	';
		}
	}

	@media screen and (max-width: 1023px) {
		padding: 1.3em 0.3em 3.3em;
		margin: 3em -5vw 0;
		display: flex;
		flex-flow: column;
		align-items: center;

		blockquote {
			max-width: 580px;

			&::before,
			&::after {
				font-size: 3.3em;
			}
		}
	}
}

.quote-by {
	text-align: right;
	font-size: 0.9rem;
	margin-top: 1em;

	@media screen and (max-width: 1023px) {
		align-self: stretch;
	}
}

.ending {
	margin-top: 3em;

	@media screen and (max-width: 1023px) {
		ul {
			padding: 0;
		}

		li {
			margin-top: 0.3em;
		}
	}
}

.giphy-embed {
	width: 240px;
	height: 240px;
}

.hint {
	padding: 1.3em;
	margin: 62px 0 1.3em 1.3em;
	border: 1px solid $light-color;
	width: 180px;
	float: right;
	display: flex;
	flex-flow: column nowrap;

	svg {
		width: 100px;
		margin: auto;
		margin-bottom: 1.3em;
	}

	@media screen and (max-width: 1023px) {
		padding: 1.3em;
		margin: 3em auto 0;
		border: 1px solid $light-color;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		float: none;
	}
}

.disqus-wrapper {
	background-color: $dark-color;

	iframe {
		mix-blend-mode: difference;
	}
}