extends ../../../base/layout.pug

block variables
    - let title = 'Резюме Мартына';
    - let description = 'Разработчик, дизайнер, а также прожектер Мартын продаёт своё время и умения в обмен на деньги и возможность оставаться собой';
    - let keywords = 'верстальщик, дизайнер, разработчк, фронтендер, фронтенд, фронт-енд, программист, веб-разработчик, markup, UI, frontender, frontend-developer, резюме, специалист, React, Javascript, HTML, CSS, Vue, Sass, Scss, PostCSS, Junior, Middle';
    //- - let scriptSrc = '/assets/js/resume.js'
    - let scriptSrc = ''

block content
    main#code-examples.basic-page
      h1#code-examples Примеры кода
      ul.code-examples

        li.code-example
          .description Сайт-визитка для друга дизайнера
            br
            |(HTML&CSS&JS)
            span.comment Впервые писал стили на чистом css без сборки и без оглядки поддержку. Сделал правку доступной и простой. Использовал custom properties для возможности декларативно менять основные параметры адаптивности.
          .links
            a.link(target="_blank" href="https://github.com/martyns0n/website-for-sanch/blob/master/styles.css") styles

        li.code-example
          .description Интерфейс игры «Go to IT»
            br
            |(React, PostCSS, Bootstrap)
            span.comment Горжусь этим проектом. Верстал начиная с прототипа на Bootstrap 3, сразу передо мною возникла задача перехода на купленную тему для Bootstrap 4. А затем писал свои стили и не успевал за развивающимся дизайном. Был единственным верстальщиком на проекте. Передал свои полномочия за месяц до релиза.
          .links
            a.link(target="_blank" href="http://gotoit.blackdeckcrew.com/") demo

        li.code-example
          .description Лендинг для конференции JFALL в Польше
            br
            |(PUG, Scss, JS)
            br
            span.comment Сделал простой лендинг и реализовал паралакс-эффект на js. Также добавил поддержку и переключение двух языков. В какой-то момент заказчик начал вносить в код свои изменения и перестал внедрять мои, поэтому результат хуже того, что получается после сборки. Даже адаптивности нет 😞
          .links
            a.link(target="_blank" href="https://github.com/martyns0n/it-nonstop-landing") repo
            br
            a.link(target="_blafk" href="http://jfall.pl/") site

        li.code-example
          .description Парсинг данных с телеграм-канала
            br
            |(React, CSS, telegram-channel-scraper)
            br
            span.comment Тестовое задание благодаря которому я почувствовал себя js-разработчиком. Две недели преодолевал себя повторяя мантру «ты талантливый программист». Скэпер собирает данные с канала и отправляет на сервер, а тот пересылает на клиент, где генерируются карточки. Карточки можно фильтровать. На код смотреть больно.
          .links
            a.link(target="_blank" href="https://github.com/martyns0n/breadhead-test-task/blob/master/src/components/screens/Dealfinder/Dealfinder.js") client&nbsp;repo

        li.code-example
          .description Oборачиваниe в react-компонент ссылок и имейлов из текста в JSON 
            br
            |(React, TypeScript, RegExp)
            br
            span.comment Первая, и пока сложнейшая, задача которую я решал в качестве js-разработчика. Код получился сложный, согласен и уже знаю как сделать проще (из n^2 в n)
          .links
            a.link(target="_blank" href="https://gist.github.com/martyns0n/1811fdde774523a44e1004a6ba369307") gist

        li.code-example
          .description Получение данных с Google Sheets и генерация таблицы
            br
            |(HTML&CSS&JS)
            br
            span.comment Делаю по вечерам эту страницу, люблю её. Уже вывел и стилизовал данные, а ещё хочу добавить плавную асинхронную подрузку строк с анимацией. In progress
          .links
            a.link(target="_blank" href="https://github.com/martyns0n/mrtnsn-website/blob/master/src/assets/js/booksheets.js") code
            br
            a.link(target="_blank" href="https://mrtnsn.me/books") page

        //- li.code-example
        //-   .description Весь этот сайт
        //-     br
        //-     |(HTML&CSS&JS) 
        //-   a.link(target="_blank" href="https://github.com/martyns0n/mrtnsn-website") repo
        //- li.code-example
        //-   .description Календарь-таблица событий
        //-     br
        //-     |(Angular 2+, HTML, CSS) *Старое тестовое задание* 
        //-   a.link(target="_blank" href="https://github.com/martyns0n/test-timetable") repo