#papers-block {
  grid-area: papers;
  flex-direction: column;
  align-self: start;
  grid-row: second-line / span third-line;

  @media screen and (max-width: 500px) {
    overflow: initial;
    flex-grow: 1;
    margin: 3.3em auto;
  }
  
  .paper-list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    margin: auto;
    padding: .3em;
    padding-right: 1.3em;
    flex: 1 1 calc(100% - 300px - .3em);
  
    @media screen and (max-width: 1023px) {
      padding: 0 1.3em;
    }
  
    @media screen and (max-width: 500px) {
      height: 100%;
      overflow: initial;
    }
  }
  
  .paper-item {
    margin-bottom: 1.3em;
    position: relative;
    background-color: var(--color-g);
    box-sizing: border-box;
    padding: 0;
    width: 100%;
  
    &:last-of-type {
      margin-bottom: 0;
    }
  
    &:hover .paper-cover,
    &:focus .paper-cover,
    &:active .paper-cover,
    &:hover .paper-link,
    &:focus .paper-link,
    &:active .paper-link {
      filter: none;
      transform: translate(0.3em, 0.3em);
    }
  
    &:hover .disqus-comment-count,
    &:focus .disqus-comment-count,
    &:active .disqus-comment-count {
      filter: none;
      transform: translate(-1.3em, -1.3em);
  
      @media screen and (max-width: 768px) {
        transform: translateY(-1.3em);
      }
    }
  
    @media screen and (max-width: 1023px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .paper-link {
      transform: translate(0);
      transition: transform 0.3s ease-out;
      text-decoration: none;
      border: 1px solid var(--color-light);
      padding: 0.3em 1.3em;
      background-color: var(--color-dark);
  
      @media screen and (max-width: 1023px) {
        font-weight: bold;
      }
    }
  
    .disqus-comment-count {
      position: absolute;
      top: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      background-color: $dark-color;
      mix-blend-mode: difference;
      z-index: -2;
    }
  
    .paper-cover {
      width: 100%;
      object-fit: cover;
      padding: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      display: block;
    }
  }
}

