#papers-block {
  grid-area: papers;
  flex-direction: column;
  align-self: start;
  grid-row: second-line / span third-line;

  @media screen and (max-width: 500px) {
    overflow: initial;
    flex-grow: 1;
    margin: 3.3em auto;
  }
  
  .paper-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.3em;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
    margin: auto;
    padding: .3em;
    padding-right: 1.3em;
    flex: 1 1 calc(100% - 300px - .3em);
  
    @media screen and (max-width: 1023px) {
      padding: 0 1.3em;
    }
  
    @media screen and (max-width: 500px) {
      height: 100%;
      overflow: initial;
    }
  }
  
  .paper-item {
    position: relative;
    box-sizing: border-box;
    padding: 0;
  
    &:last-of-type {
      margin-bottom: 0;
    }
  
    &:hover .disqus-comment-count,
    &:focus .disqus-comment-count,
    &:active .disqus-comment-count {
      filter: none;
      transform: translate(-1.3em, -1.3em);
  
      @media screen and (max-width: 768px) {
        transform: translateY(-1.3em);
      }
    }
  
    @media screen and (max-width: 1023px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .paper-link {
      text-decoration: none;
      border: 1px solid var(--color-light);
      position: absolute;
      display: flex;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      z-index: 1;
      filter: shadow();
      
      @media screen and (max-width: 1023px) {
        font-weight: bold;
      }

      &:hover .paper-link-text {
        transform: translateY(33%);
      }
    }
    
    .paper-link-text {
      background-color: var(--color-dark);
      padding: 0.3em 1.3em;
      width: 100%;
      border: 1px solid var(--color-light);
      margin: -1px; //hack for 1px border around text inside link
      transform: translateY(0);
      transition: transform 0.3s var(--magic-bezier);
    }
  
    .disqus-comment-count {
      position: absolute;
      top: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      background-color: var(--color-dark);
      mix-blend-mode: difference;
      z-index: -2;
    }
  
    .paper-cover {
      width: 100%;
      object-fit: cover;
      padding: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      display: block;
    }
  }
}

