mixin papers()
  section#papers-block
    //- h2 Статьи
    ul.paper-list
      li.paper-item
        a.paper-link(href='/papers/pmdr')
          .paper-link-text Помодоро
        paper
          video.paper-cover(loop='loop', muted)
            source(src='/assets/video/senior-pomodor.mp4', type='video/mp4')
          //- span.disqus-comment-count(
          //-   data-disqus-identifier='3',
          //-   data-disqus-url='https://martyn.guru/papers/pmdr'
          //- )
      li.paper-item
        a.paper-link(href='/papers/sleep')
          .paper-link-text Как починить сон?
        paper
          video.paper-cover(loop='loop', muted)
            source(src='/assets/video/alarm-clock.mp4', type='video/mp4')
          //- span.disqus-comment-count(
          //-   data-disqus-identifier='2',
          //-   data-disqus-url='https://martyn.guru/papers/sleep'
          //- )
      li.paper-item
        a.paper-link(href='/papers/invalid-martyn')
          .paper-link-text Невалидный Мартын
        paper
          video.paper-cover(loop='loop', muted)
            source(src='/assets/video/death-dance.mp4', type='video/mp4')
          //- span.disqus-comment-count(
          //-   data-disqus-identifier='1', data-disqus-url='https://martyn.guru/papers/invalid-martyn'
          //- )