#books {
  margin: 0 auto;

  table {
    margin-top: 1.3em;
  }

  .book-name,
  .book-tags,
  .book-status {
    background-color: $light-color;
    padding: 0 0.3em;
    color: $dark-color;
  }

  thead {
    background-color: $light-color;
    color: $dark-color;
    font-size: 1.3em;
  }

  th {
    text-align: left;
    border-bottom: 3px solid $dark-color;

    &.book-status,
    &.recommendation-weight {
      font-size: calc(1em / 1.3 / 1.3 / 1.3);
    }
  }

  td {
    padding: 0.3em;
  }

  .recommendation-list-names {
    max-width: 20ch;
  }

  .recommendation-weight {
    text-align: center;
  }

  .book-status {
    text-align: center;
  }

  .status-done {
    background-color: $g-color;
  }

  .status-in-progress {
    background-color: $b-color;
  }

  .status-stopped {
    background-color: $r-color;
  }

  .status-done,
  .status-in-progress,
  .status-stopped {
    color: $light-color;
  }
}