#books {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  table {
    margin-top: 1.3em;
    width: 100%;
  }


  // columns
  colgroup {
    width: 100%;

  //   .recommendation-weight {
  //     width: 10%;
  //   }

    .book-name {
      width: 50%;
    }

    .book-review {
      width: 50%;
    }

  //   .book-tags {
  //     width: 10%;
  //   }

  //   .book-status {
  //     width: 12%;
  //   }
  }

  // row groups
  thead {
    font-size: 1.3em;
  }

  tbody tr {
    transform: translate(-3.3em, -1.3em);
    opacity: 0;
    transition: all ease-in 0.3s;
    will-change: transform, opacity;

    &.transition {
      transform: translate(0);
      opacity: 1;
    }
  }

  tbody tr, tfoot tr {
      &.year-heading {
        font-family: 'Anonymous Pro', 'Book Antiqua', Palatino, 'Palatino Linotype',
        'Palatino LT STD', Georgia, 'Times New Roman', Times, serif;
        font-size: 1.3em;
    }
  }

  // cells
  th {
    background-color: $dark-color;
    text-align: left;
    border-bottom: 3px solid $light-color;
    padding: 0.3em;
    top: 0;
    position: sticky;
    transform: translate(0);
    will-change: transform;
    z-index: 1;

    // &.book-status,
    // &.recommendation-weight {
    //   font-size: calc(1em / 1.3);
    //   padding: 0;
    //   text-align: center;
    // }

    // &.recommendation-weight {
    //   text-align: center;
    // }
  }

  td {
    padding: 1.3em 0.3em 0.3em;;

    // &.book-name,
    // &.book-tags {
    //   background-color: $light-color;
    //   color: $dark-color;
    // }

    // &.recommendation-weight {
    //   text-align: center;
    // }

    // &.book-tags {
    //   font-size: calc(1em / 1.3);
    // }

    // &.book-status {
    //   text-align: center;

    //   &.status-done,
    //   &.status-in-progress,
    //   &.status-stopped {
    //     color: $light-color;
    //   }

    //   &.status-done {
    //     color: var(--color-g);
    //   }

    //   &.status-in-progress {
    //     color: var(--color-b);
    //   }

    //   &.status-stopped {
    //     color: var(--color-r);
    //   }
    // }
  }
}