extends ../../base/layout.pug

block variables
  - let scriptSrc = '/assets/js/booksheets.js'

block content
  main#books.basic-page
    h1.text-center Книжная таблицa
    h2.text-center 2019
    table#booksTable( cellspacing="0")
      colgroup
        col.recommendation-weight
        col.book-name
        col.book-tags
        col.book-status