extends ../../base/layout.pug

block variables
  - let scriptSrc = '/assets/js/booksheets.js'

block content
  main#books.basic-page
    h1.title Книжная таблицa
    //- h2.text-center 2019
    table#booksTable(cellspacing="0")
      colgroup
        col.book-name
        col.book-review
      thead
        th Название книги
        th Пара слов