extends ../../base/layout.pug

block content
    main#shows.basic-page
      h1.title Выступления Мартына
      ul.list-shows
        li 
          p Доклад «Не QWERTY единой»
            a.link(href="https://www.youtube.com/watch?v=UH5iXdGQpFo") Запись
        li
          p Лекция «Слабость воли»
            a.link(href="./weakness-of-will") Слайды
        li
          p Доклад «255 оттенков серого»
            a.link(href="./255-shades-of-gray") Слайды
            a.link(href="https://www.youtube.com/watch?v=4MQ-gY05CY4&feature=youtu.be&t=304") Запись