.header {
  border-bottom: 1px solid $light-color;
  background-color: $dark-color;
  overflow: hidden;

  nav {
    padding: 0.3em 1.3em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
  }

  li {
    display: inline-block;
    margin: 0 0.3em;

    @media screen and (max-width: 768px) {
      margin: 0.3em 0;
      width: 49%;
    }
  }

  a {
    text-decoration: none;
    color: $light-color;
    mix-blend-mode: color-dodge;
    font-weight: bold;
  }

  .in-progress {
    position: relative;
    cursor: wait;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: repeating-linear-gradient(
          45deg,
          $y-color,
          $y-color 10px,
          $dark-color 10px,
          $dark-color 20px
      );
      width: 121px;
      height: 7px;
      left: 5px;
      top: 7px;
      transform: rotate(20deg);
      box-shadow: 1px 1px 1px 0px $dark-color;
    }

    &:before {
      transform: rotate(-23deg);
    }
  }
}
