.projects {
  margin: 0 auto;
  //   margin-top: 0;
  //   padding-left: 3.3em;
  //   @media screen and (max-width: 768px) {
  //     padding: 0 1.3em;
  //   }
  // }
  img {
    margin: 0.3em;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .project {
    margin-bottom: 3.3em;
    margin-left: 1.6em;
    list-style-type: none;
    &>a {
      color: inherit;
      text-decoration: none;
    }
    h2 {
      img {
        width: 1.6em;
        margin: 0px .66em 0 -10%;
        vertical-align: middle;
        border-radius: 50%;
      }
    }
    ul,
    ol {
      margin-top: 0.3em;
      padding-left: 3.3em;
      @media screen and (max-width: 768px) {
        padding: 0 1.3em;
      }
    }
    li {
      margin-bottom: 0.3em;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
  .description {
    display: inline-block;
    max-width: 70ch;
  }
  .PPalpha {
    img {
      width: 130px;
    }
  }
  .PWI {
    img {
      width: 330px;
    }
    .part2 {}
    .part3 {}
    .part4 {}
  }
}