extends ../base/layout.pug

block content
  main.main-page
    h1.main-logo
      img.main-logo__img(src='./assets/img/svg/mrtnsn-pit__logo-2018.svg')
      //- .main-logo__text
      p.main-logo__mrtnsn мартынсоновая
      p.main-logo__pit яма
    section.main-page__section
      h2 Статьи
      ul.article-list
        li.article-item
          article
            img.article-img(src="./assets/img/smert'.jpg")
            span.disqus-comment-count(data-disqus-identifier='1', data-disqus-url='invalid Martynson')
            a.article-link(href='./papers/invalid-martynson', alt='Статья: Невалидный Мартинсон')
              h3 «Невалидный Мартинсон»
        li.article-item
          article
            a(href='#', alt='in progress', title='in progress')
              img(src='./assets/img/paper-in-progress.jpg')
    section.main-page__section
      - const telegramPostNumber = '30';
      h2#post-number Пост #
        span #{telegramPostNumber}
      #telegram-wrapper
        button#btn-prew.telegram-paging(type='button') 
          span ◁
        script#script(async='', src='https://telegram.org/js/telegram-widget.js', data-telegram-post='metabaza/' + telegramPostNumber, data-userpic='false')
        button#post-expander
        button#btn-next.telegram-paging(type='button') 
          span ▷
        //- h3#post-number #
        //-   span #{telegramPostNumber}