extends ../../base/layout.pug

block content
    main.contacts.basic-page
      h1 Контакты
      ul
        li Телефон 
          a(href="tel:+7999464432") +7 999 464 4321
        li Почта 
          a(href="mailto:mrtnsn@gmail.com") mrtnsn@gmail.com
        li Телеграм 
          a(href="https://t.me/martyns0n") @martyns0n
      