extends ../../../base/layout.pug

block variables
  - var title = 'Не QWERTY единой';
  - var description = 'Статья о раскадке QWERTY и о том, как я создал ей замену';
  - var keywords = 'qwerty, dvorak, colemak, martyn, мартын, слепой ввод, десятипальцевый метод, Никита Прокопов, печать вслепую, клавогонки, martynak, тунельный синдром, запястья, клавиатура, клавиши';

block content
  main#no-more-qwerty.paper
    header
      

      .intro.text-container
        h1 Не QWERTY единой
          .version 21.07.19
        p Доклад о клавиатурных раскладках от создателя раскладки Martynak, для тех, кого всё устраивает.
    .md-text
      include:markdown-it(linkify langPrefix='highlight-') ./paper.md
        
    #disqus_thread.disqus-wrapper
    script.
      /**
      *RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var pageUrl = 'https://martyn.guru/papers/no-more-qwerty';
      var pageIdentifier = 'no-more-qwerty';
      var pageTitle = 'no-more-qwerty'

      var disqus_config = function () {
        this.page.url = pageUrl;
        this.page.identifier = pageIdentifier;
        this.page.title = pageTitle;
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mrtnsn.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    noscript
      | Пожалуйста включите JavaScript для просмотра комментариев.