extends ../../../base/layout.pug

block content
  :markdown-it(linkify langPrefix='highlight-')
    # Markdown

    Markdown document with http://links.com and

    ```js
    var codeBlocks;
    ``` 
