.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all .33s var(--magic-bezier);
  transform: translateY(-100%);
  
  
  &--unfixed {
    position: relative;
    transform: translateY(-100%);
  }
  
  
  &--unpinned {
    position: fixed;
    transform: translateY(0);
  }
  
  
  &--pinned {
    position: fixed;
    transform: translateY(0);
  }
}


/* additional animation config for non-main pages */
.headroom--secondary-page-wrapper { 
  .headroom {
    transform: translateY(0) !important;
  }
  
  .headroom--unfixed {
    position: relative;
    transform: translateY(0) !important;
  }
  
  .headroom--unpinned {
    transform: translateY(-100%) !important;
    opacity: 0;
  }
  
  
  .headroom--pinned {
    transform: translateY(0%) !important;
    opacity: 1;
  }

}
