extends ../../../base/layout.pug

block variables
  - var title = 'Матадоро';
  - var description = 'Статья о методе Матадоро';
  - var keywords = 'матадоро, помодоро, pomodoro, циклы, ультрадиарные циклы, продуктивность, работа, рабочий ритм, эффективность, циклы, фазы';

block content
  main#matadoro.paper
    header
      

      .intro.text-container
        h1 Метод Матадоро
          .version 03.08.19
    .md-text
      include:markdown-it(linkify langPrefix='highlight-') ./paper.md
        
    #disqus_thread.disqus-wrapper
    script.
      /**
      *RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var pageName = 'matadoro';
      var disqus_config = function () {
          this.page.url = 'https://martyn.guru/' + pageName;
          this.page.identifier = pageName;
          this.page.title = pageName;
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mrtnsn.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    noscript
      | Пожалуйста включите JavaScript для просмотра комментариев.