
extends ./meta.pug

//- mixins
//- include ../blocks/main-logo/main-logo.pug
include ../blocks/papers/papers.pug
include ../blocks/posts/posts.pug
include ../blocks/link-back/link-back.pug
include ../blocks/likely-buttons/likely-buttons.pug
//- ===

block layout        
  body
    include ../blocks/header/header.pug
    block content
    include ../blocks/footer/footer.pug

    script(id="dsq-count-scr" src="//mrtnsn.disqus.com/count.js" async)
    script(type="text/javascript", src="/assets/js/main.js", async)
    script(type="text/javascript", src=scriptSrc, async)
    script(type="text/javascript", src=scriptSrc2, async)