extends ../../base/layout.pug

block content
    main#donation.basic-page.paper
        h1.text-center Реклама — зло

        p
            |Так считает Мартын, потому что рекламный бизнес построен на насильственных принципах. Конечно, соласится с этим не каждый и у рекламы найдётся множество сторонников или, как минимум, безразличных людей. Поэтому стоит объяснить это утверждение.

        .exclamation
            h2.text-center Среда
            p 
                |Среда определяет сознание, и это значит, что окружающая информация важна для формирования убеждений. Люди способны выбирать своё окружение в некоторых пределах. И значимым ограничением становится реклама, ведь даже если источник информации полезен, то есть вероятность, что на нём что-то рекламируется.
            p
                |Получается, что человек потребляющий контент, часто вынужден мириться с попадающейся «шелухой». От одной рекламы прямо сейчас хуже не станет, но от сотен крюков за день в течение десятилетий мышление деформируется и наполняется разнородным балластом.

            h2.text-center Шум
            p
                |А зачем зашумлять информацию рекламой? Очевидно, что для получения средств к существованию или для обогащения. Если бы не было рекламы, то масса творцов, способных не отвлекаться на заработок, сильно бы порядела. Тогда в чём проблема?
            p
                |Реклама — это навязывание информации призванной побуждать к действиям. В этом её фундаментальная проблема, она вносит неупорядоченность в мышление, постоянно отвлекая внимание на себя. На сегодняшний день этот подход устарел и существует по инерции.
        br
        p 
            |Если тебе нравится деятельность Мартына и ты хочешь развития его проектов, то достаточно отблагодарить в сообщении.
            //- br
            //- |Для тех, кто готов приблизить Мартына к мечте о самоокупаемости проектов, есть способы денежножной поддержки. И это тот случай, когда даже ~10 рублей ценны как жест одобрения.

        //- .support-buttons
        //-     .patreon
        //-         button Поддержать
        //-     .ya-money
        //-         button Поддержать
        //-     .crypto
        //-         button Поддержать
        //-     .banks
        //-         button Поддержать