extends ../../base/layout.pug

block content
    main#donation
        h2.text-center Реклама — зло

        p
            |Так считает Мартын, потому что рекламное обогащение построено на насильственных принципах. Конечно так считает не каждый, и у рекламы найдётся множество сторонников или, как минимум, ничего против не имеющих людей. Поэтому стоит объяснить это утверждение.

        .exclamation
            p 
                |Среда определяет сознание, и это значит, что окружающая информация важна. Люди выбирают своё окружение в некоторых пределах. Серьёзным ограничением становится реклама, ведь даже если канал информации полезен, то есть вероятность, что на нём что-то рекламируется. И получается, что человек потребляющий контент вынужден смириться с периодически попадающейся «шелухой». А зачем нужен шум в виде рекламы? Для получения ресурсов к существованию и, реже, для обогащения. Если бы не было рекламы, то и не было бы разнообразия авторов.

            p
                |Реклама — навязанная информация, призванная побуждать к действиям. В этом её фундаментальная проблема, она вносит неупорядоченность в мышление.
        
        p 
            |Если тебе нравится деятельность Мартына и ты бы хотел развития его проектов, то достаточно отблагодарить его в сообщении. Для тех, кто готов приблизить Мартына к мечте о самоокупающемся проекте, есть способы денежножной поддержки. И это тот случай, когда даже ~10 рублей ценны как жест одобрения.

        .support-buttons
            .patreon
                button Поддержать
            .ya-money
                button Поддержать
            .crypto
                button Поддержать
            .banks
                button Поддержать