extends ../../../base/layout.pug

block variables
  - var title = 'Сон';
  - var description = 'Статья о том, как починить сон';
  - var keywords = 'сон, синий, световая температура, красный, мелатонин, ритм, образ жизни';

block content
  main#sleep.paper
    header
      

      .intro.text-container
        h1 Как починить сон
          .version 20.12.18
        p
          |Сон в жизни автора этой статьи имеет особую, можно сказать, фатальную роль. О сне он написал свою самую первую статью. Сон для него не менее важная деятельность, чем работа или развлечения. Больше всего он ненавидит недосыпание.
        p
          |Отдельная благодарность Дмитрию Давыдову за толчок к тому, чтобы написать эту статью.
      .img-title
    .md-text
      include:markdown-it(linkify langPrefix='highlight-') ./article.md
      
    #disqus_thread.disqus-wrapper
    script.
      /**
      *RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var pageUrl = 'https://mrtnsn.me/papers/sleep';
      var pageIdentifier = '2';
      var pageTitle = 'sleep'

      var disqus_config = function () {
        this.page.url = pageUrl;
        this.page.identifier = pageIdentifier;
        this.page.title = pageTitle;
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mrtnsn.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    noscript
      | Пожалуйста включите JavaScript для просмотра комментариев.