extends ../../../base/layout.pug

block variables
  - var title = '🍅';
  - var description = 'Статья о помидорах';
  - var keywords = 'помодоро, pomodoro, циклы, ультрадиарные,';

block content
  main#pmdr.paper
    header
      

      .intro.text-container
        h1 🍅
          .version 18.02.19
        p
          |Эта статья является планом для доклада о Помодоро.
        //- ul.table-of-contents
        //-   li Введение
        //-   li Продуктивность
        //-   li Техника «Помодоро»
        //-   li 
        //-   li
      //- .img-title
    .md-text
      include:markdown-it(linkify langPrefix='highlight-') ./article.md
        
    #disqus_thread.disqus-wrapper
    script.
      /**
      *RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var pageUrl = 'https://mrtnsn.me/papers/pmdr';
      var pageIdentifier = '3';
      var pageTitle = 'pmdr'

      var disqus_config = function () {
        this.page.url = pageUrl;
        this.page.identifier = pageIdentifier;
        this.page.title = pageTitle;
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mrtnsn.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    noscript
      | Пожалуйста включите JavaScript для просмотра комментариев.