html {
  --color-dark: #212121;
  --color-light: #DEDEDE;
  --color-r: #DE2121;
  --color-g: #21DE21;
  --color-b: #2121DE;
  --color-c: #21DEDE;
  --color-m: #DE21DE;
  --color-y: #DEDE21;  
}

$dark-color: #212121;
$light-color: #DEDEDE;
$r-color: #DE2121;
$g-color: #21DE21;
$b-color: #2121DE;
$c-color: #21DEDE;
$m-color: #DE21DE;
$y-color: #DEDE21;

$font-size: 100%;
$line-height: 1.3;