#main-page {
  display: grid;
  grid-template-areas:
    "logo posts"
    "articles posts";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: [first-line] min-content [second-line] auto [third-line];
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  grid-gap: 3.3em;
  padding: 3.3em 1.3em 0 1.3em;
  align-items: start;
  min-width: 0;
  min-height: 0;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin: 0;
    margin-bottom: 1.3em;
    text-align: center;
  }

  a {
    display: block;
  }

  #posts {
    grid-area: posts;
    grid-row: first-line / span third-line;
    position: relative;
    height: 70%;

    &>.page_wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      overflow: auto;
      background-color: $light-color;
      color: $dark-color;
      padding: 0 1.3em 0 3.3em;
      margin-right: 1.3em;
      margin-top: 3.3em;
      border: 1.3em solid var(--color-light);
      border-left-width: 0;
      border-right-width: .3em;
    }

    .link {
      display: inline;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .articles {
    grid-area: articles;
    // display: flex;
    flex-direction: column;
    align-self: start;
    grid-row: second-line / span third-line;
    // position: relative;
    // min-height: 100%;

    @media screen and (max-width: 500px) {
      overflow: initial;
      flex-grow: 1;
      margin: 3.3em auto;
    }
  }

  // .grid-item-height-fix {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   // max-height: 100%;
  //   overflow: auto;
  // }

  .article-list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    margin: auto;
    padding: .3em;
    padding-right: 1.3em;
    flex: 1 1 calc(100% - 300px - .3em);

    @media screen and (max-width: 1023px) {
      padding: 0 1.3em;
    }

    @media screen and (max-width: 500px) {
      height: 100%;
      overflow: initial;
    }
  }

  .article-item {
    margin-bottom: 1.3em;
    position: relative;
    background-color: $g-color;
    // max-width: 13.3em;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    // flex: 1 1 3.3em;


    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover .article-cover,
    &:focus .article-cover,
    &:hover .article-link,
    &:focus .article-link {
      filter: none;
      transform: translate(0.3em, 0.3em);
    }

    &:hover .disqus-comment-count,
    &:focus .disqus-comment-count {
      filter: none;
      transform: translate(-1.3em, -1.3em);

      @media screen and (max-width: 768px) {
        transform: translateY(-1.3em);
      }
    }

    @media screen and (max-width: 1023px) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .article-link {
      transform: translate(0);
      transition: transform 0.3s ease-out;
      text-decoration: none;
      border: 1px solid var(--color-light);
      padding: 0.3em 1.3em;
      background-color: var(--color-dark);

      @media screen and (max-width: 1023px) {
        font-weight: bold;
      }
    }

    .disqus-comment-count {
      position: absolute;
      top: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      background-color: $dark-color;
      mix-blend-mode: difference;
      z-index: -2;
    }

    .article-cover {
      width: 100%;
      object-fit: cover;
      padding: 0;
      transform: translate(0);
      transition: transform 0.3s ease-out;
      display: block;
    }
  }
}