#main-page {
  display: grid;
  grid-template-areas:
    "logo posts"
    "papers posts";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: [first-line] min-content [second-line] auto [third-line];
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  grid-gap: 3.3em;
  padding: 3.3em 1.3em 0 1.3em;
  align-items: start;
  min-width: 0;
  min-height: 0;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin: 0;
    margin-bottom: 1.3em;
    text-align: center;
  }

  a {
    display: block;
  }

  .posts {
    grid-area: posts;
    grid-row: first-line / span third-line;
    position: relative;
    height: 70%;

    #posts-previews {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      overflow: auto;
      background-color: $light-color;
      color: $dark-color;
      padding: 0 1.3em 0 3.3em;
      margin-right: 1.3em;
      margin-top: 3.3em;
      border: 1.3em solid var(--color-light);
      border-left-width: 0;
      border-right-width: .3em;
    }

    #posts-previews > ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
    }

    .post-link {
      font-family: var(--font-heading);
      color: var(--color-dark);
      font-weight: 700;
      font-size: var(--font-size-medium);
    }

    .post-item {
      margin-bottom: 1.3em;
    }

    .link {
      display: inline;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}