extends ../base/main-page-layout.pug

block variables
    - let scriptSrc = '/assets/js/home.js'

block content
  main#main-page

    +main-logo()

    section.articles
      h2 Статьи
      ul.article-list
        li.article-item
          article
            video.article-cover(loop='loop', muted)
              source(src='./assets/video/death-dance.mp4', type='video/mp4')
            //- span.disqus-comment-count(
            //-   data-disqus-identifier='1', data-disqus-url='https://mrtnsn.me/papers/invalid-martyn'
            //- )
            a.article-link(href='./papers/invalid-martyn')
              h3 Невалидный Мартын
        li.article-item
          article
            video.article-cover(loop='loop', muted)
              source(src='./assets/video/alarm-clock.mp4', type='video/mp4')
            //- span.disqus-comment-count(
            //-   data-disqus-identifier='2',
            //-   data-disqus-url='https://mrtnsn.me/papers/sleep'
            //- )
            a.article-link(href='./papers/sleep')
              h3 Как починить сон?
        li.article-item
          article
            video.article-cover(loop='loop', muted)
              source(src='./assets/video/senior-pomodor.mp4', type='video/mp4')
            //- span.disqus-comment-count(
            //-   data-disqus-identifier='3',
            //-   data-disqus-url='https://mrtnsn.me/papers/pmdr'
            //- )
            a.article-link(href='./papers/pmdr')
              h3 🍅

    section#posts
      include ../blocks/metabaza/index.html

    