extends ../base/main-page-layout.pug

block variables
    - let scriptSrc = '/assets/js/home.js'

block content
  main#main-page

    +main-logo()

    +papers()

    section#posts
      h2 Посты из 
        a.link(href="https://t.me/metabaza" target="_blank" rel="noopener") Метабазы
      include ../blocks/metabaza/index.html

    