extends ../base/main-page-layout.pug

block variables
    - let scriptSrc = '/assets/js/home.js'
    - let scriptSrc2 = '/assets/js/posts.js'
    
block content
  main#main-page

    +main-logo()

    +papers()

    section.posts
      h2 Посты из 
        a.link(href="tg://resolve?domain=metabaza" target="_blank" rel="noopener") Метабазы
      #posts-previews
        
