#header {
  background-color: $dark-color;
  z-index: 2;

  @media screen and (max-width: 500px) {
    width: 100vw;
    position: absolute;
    background-color: transparent;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border: 1px solid $light-color;
    display: block;
    position: relative;
    transition-duration: 0.3s;
    padding: 1.3em;
    background-color: $dark-color;
    cursor: pointer;

    &:hover,
    &:focus {
      // &:active {
      background-color: $light-color;
      border-color: $dark-color;
      color: $dark-color;
    }
  }

  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  #burger {
    font-family: monospace;
    font-size: 3.3em;
    position: absolute;
    right: 0;
    background-color: $dark-color;
    margin: 1.3rem;
    cursor: pointer;
    display: none;
    line-height: 1;

    @media screen and (max-width: 500px) {
      display: block;
      transform: translate(200%);
      transition: transform .3s ease-out;
    }

    &.slip-appearance {
      transform: translate(0);
    }
  }

  #nav {
    padding: 0 1.3em;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    z-index: 2;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    @media screen and (max-width: 500px) {
      margin-left: auto;
      width: 100%;
      text-align: right;
      right: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out;

      &.slip-appearance {
        transform: translateY(0%);
      }
    }
  }

  .list-nav {
    display: flex;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  .item-nav {}

  .dropdown {
    cursor: default;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      justify-content: start;
    }

    &::after {
      content: "▼";
      position: absolute;
      right: 1.3em;
    }

    &>span {
      margin-right: auto;

      @media screen and (max-width: 500px) {
        display: block;
        text-align: center;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .link-nav {
    color: $light-color;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      text-align: center !important;
    }
  }

  .evil {
    text-align: right;
    flex-grow: 13;
  }

  .list-subnav {
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.3s ease-out;
    top: 100%;
    width: 100%;
    z-index: -1;

    @media screen and (max-width: 500px) {
      width: 50%;
      transform: translateY(0) translateX(-100%);
      left: 0;
      z-index: 1;
    }
  }

  .dropdown:hover>.list-subnav,
  .dropdown:focus>.list-subnav {
    // .dropdown:active>.list-subnav {
    transform: translateY(0);
  }

  .item-subnav {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -1px;
    background-color: $light-color;
    color: $dark-color;
    border-color: $dark-color;
    cursor: pointer;

    &:hover,
    &:focus {
      // &:active {
      transform: translateX(1.3em);
    }
  }
}