#header {
  background-color: var(--color-dark);
  z-index: 2;

  @media screen and (max-width: 500px) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    transition-duration: .3s;
  }

  a {
    display: block;
    text-decoration: none;
  }

  //NAV-------------------------------
  #nav {
    padding: 0 1.3em;
    font-family: var(--font-monotype);
    z-index: 2;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }

  .list-nav {
    display: flex;
    align-items: stretch;
  }

  .item-nav {
    transition: background-color, border-color, color, font-size 0.3s var(--magic-bezier);
    border: 1px solid var(--color-light);
    background-color: var(--color-dark);

    &:hover.dropdown,
    &:focus.dropdown,
    &:active.dropdown {
      max-height: 13.3em;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-light);
      border-color: var(--color-dark);
      color: var(--color-dark);
    }
  }

  .link-nav {
    padding: 1.3em;
    color: currentColor;
  }

  .item-home {
    text-align: center;

    .home-icon {
      height: 1em;
      fill: currentColor;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }

  .item-evil {
    flex-grow: 1;

    a {
      display: flex;
      justify-content: flex-end;
    }
  }


  //SUBNAVS------------------------------

  .dropdown {
    cursor: default;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1.3em;

    &:hover>.list-subnav,
    &:focus>.list-subnav,
    &:active>.list-subnav {
      transform: translateY(0) scale(1) translateX(0);
    }

    &::after {
      content: "▼";
      position: absolute;
      right: 1.3em;
    }

  }

  .title-item {
    margin-right: 1.3em;
  }

  .list-subnav {
    position: absolute;
    transform: translateY(-100%);
    top: 100%;
    width: 100%;
    z-index: -1;
    transition: transform .3s var(--magic-bezier);
  }

  .item-subnav {
    transform: translateX(0);
    transition: transform .3s val(--magic-bezier);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -1px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-color: var(--color-dark);
    cursor: pointer;
    border: 1px solid var(--color-dark);

    &:hover,
    &:focus,
    &:active {
      transform: translateX(1.3em);
    }
  }

  .link-subnav {
    position: relative;
    color: currentColor;
    padding: .3em 1.3em;
  }
}