#header {
  background-color: $dark-color;
  z-index: 2;

  @media screen and (max-width: 500px) {
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    position: relative;
    transition-duration: .3s;
    // transition-delay: .3s;
    cursor: pointer;

    // &:hover,
    // &:focus {
    //   // &:active {
    //   background-color: $light-color;
    //   border-color: $dark-color;
    //   color: $dark-color;
    // }

    @media screen and (max-width: 500px) {
      height: 100%;
    }
  }

  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  #burger {
    font-family: 'Anonymous Pro',
      'Courier New',
      Courier,
      monospace;
    font-size: 3.3em;
    position: absolute;
    right: 0;
    background-color: $dark-color;
    margin: 1.3rem;
    cursor: pointer;
    display: none;
    line-height: 1;

    @media screen and (max-width: 500px) {
      display: block;
      transform: translate(200%);
      transition: all .3s var(--magic-bezier);
    }

    &.slip-appearance {
      transform: translate(0);
    }
  }


  //NAV-------------------------------
  #nav {
    padding: 0 1.3em;
    font-family: var(--font-monotype);
    z-index: 2;
    height: 3.3rem;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    @media screen and (max-width: 500px) {
      position: absolute;
      margin-left: auto;
      width: 100%;
      height: 100%;
      right: 0;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.3s var(--magic-bezier);
      box-sizing: border-box;
      background-color: var(--color-light);
      font-size: 1.3em;

      &.slip-appearance {
        transform: translateY(0%);
        opacity: 1;
        height: 100vh;

        .list-nav {
          transform: translateY(0);
          height: 100%;
        }
      }
    }
  }

  .link-home {
    text-align: center;

    li {
      display: flex;
      justify-content: center;
    }
  }

  .home-icon {
    height: 1em;
    fill: currentColor;
  }

  .list-nav {
    display: flex;
    align-items: flex-start;
    // height: 100%;

    li {
      align-items: center;
    }


    @media screen and (max-width: 500px) {
      transform: translateY(-100%);
      transition: all 0.3s var(--magic-bezier);
      flex-direction: column;
      align-items: stretch;

      li {
        height: auto;
      }
    }
  }

  .item-nav {
    height: 1.3em;
    max-height: 3.3em;
    transition: all 0.3s var(--magic-bezier);
    padding: 1.3em;
    border: 1px solid $light-color;
    background-color: $dark-color;

    &:hover.dropdown,
    &:focus.dropdown {
      max-height: 13.3em;
    }

    &:hover,
    &:focus {
      // &:active {
      background-color: $light-color;
      border-color: $dark-color;
      color: $dark-color;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.3em;
    }
  }

  .item-sublink {
    display: flex;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
  }

  .link-nav {
    @media screen and (max-width: 500px) {
      display: flex;

      li {
        width: 100%;
      }
    }
  }

  #close-menu {
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
      font-size: 3.3em;
      line-height: .61;
      color: var(--color-dark);
      padding: 1.3em;
      margin: auto;
    }
  }

  .link-evil {
    flex-grow: 1;

    li {
      display: flex;
      justify-content: flex-end;
    }

    @media screen and (max-width: 500px) {
      flex-grow: auto;

      li {
        justify-content: center;
      }
    }
  }



  //SUBNAVS------------------------------

  .dropdown {
    cursor: default;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      transition: all .3s var(--magic-bezier);
      box-sizing: border-box;
    }

    &:hover>.list-subnav,
    &:focus>.list-subnav {
      // &:active>.list-subnav {
      transform: translateY(0) scale(1) translateX(0);
    }

    &::after {
      content: "▼";
      position: absolute;
      right: 1.3em;
    }

  }

  .title-item {
    margin-right: 1.3em;

    @media screen and (max-width: 500px) {
      display: block;
      text-align: center;
      margin-right: 0;
      width: 100%;
      position: absolute;
      transition: all .3s cubic-bezier(var(--magic-bezier));
    }
  }

  .list-subnav {
    position: absolute;
    transform: translateY(-100%);
    transition: all .3s var(--magic-bezier);
    top: 100%;
    width: 100%;
    z-index: -1;


    @media screen and (max-width: 500px) {
      position: initial;
      transform: translateY(0) scale(0) translateX(-200%);
      left: 0;
      z-index: 1;
    }
  }

  .item-subnav {
    transform: translateX(0);
    transition: all .3s val(--magic-bezier);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -1px;
    background-color: $light-color;
    color: $dark-color;
    border-color: $dark-color;
    cursor: pointer;
    padding: .3em 1.3em;
    border: 1px solid var(--color-dark);

    @media screen and (max-width: 500px) {
      border: none;
    }

    &:hover,
    &:focus {
      // &:active {
      transform: translateX(1.3em);
    }
  }

  .link-subnav {
    position: relative;

    @media screen and (max-width: 500px) {
      span::after {
        content: '⬈';
        color: var(--color-dark);
        position: absolute;
        top: 0;
        font-size: 1em;
        line-height: 1;
      }
    }
  }
}