header.header
  nav: ul#nav
    #burger ☰
    a.link-nav(href='/'): li.nav-item Яма

    li.dropdown Проекты
      ul.subnav
        a(class="link-subnav" href="http://tele.ga/metabaza" target="_blank"): li.subnav-item Метабаза
        a(class="link-subnav" href="https://anchor.fm/protopilotalpha"): li.subnav-item Протопилот
        a(class="link-subnav" href="#"): li.subnav-item ПБИ
        a(class="link-subnav" href="https://crema.today"): li.subnav-item Кремá Тудей

    li.dropdown Мартын  
      ul.subnav
        a(class="link-subnav" href="#"): li.subnav-item О Мартыне
        a(class="link-subnav" href="/resume"): li.subnav-item Резюме
        a(class="link-subnav" href="/shows"): li.subnav-item Выступления
        a(class="link-subnav" href="/portfolio"): li.subnav-item Портфолио
        a(class="link-subnav" href="/achievements"): li.subnav-item Достижения
        a(class="link-subnav" href="/contacs"): li.subnav-item Контакты

    li.dropdown Изобретения
      ul.subnav
        a(class="link-subnav" href="#"): li.subnav-item Манифест потребления
        a(class="link-subnav" href="#"): li.subnav-item Идеятация
        a(class="link-subnav" href="#"): li.subnav-item Раскладка
        a(class="link-subnav" href="#"): li.subnav-item Каша

    a.link-nav.evil(href='/donation'): li Зло










      //- li
      //-   a(class="link-nav" href='/')
      //-     //- span(class="icon-shape") ▲&nbsp;
      //-     |Яма
      //- li
      //-   a(class="link-nav" href='/log')
      //-     //- span(class="icon-shape") ◼&nbsp;
      //-     |Лог
      //- li
      //-   a(class="link-nav" href='/books')
      //-     //- span(class="icon-shape") ◼&nbsp;
      //-     |Книги
      //- li
      //-   a(class="link-nav" href='/projects')
      //-     //- span(class="icon-shape") ⬟&nbsp;
      //-     |Прожекты
      //- li
      //-   a(class="link-nav" href='/resume')
      //-     //- span(class="icon-shape") ⬣&nbsp;
      //-     |Резюме
      //- li
      //-   a(class="link-nav" href='/shows')
      //-     //- span(class="icon-shape") ✖&nbsp;
      //-     |Выступления
      //- li
      //-   a(class="link-nav" href='/contacts')
      //-     //- span(class="icon-shape") ✖&nbsp;
      //-     |Контакты
      //- li
      //-   a(href='/portfolio')
      //-     | 📂 Портфолио
      //- li
      //-   span.in-progress 🏆 Достижения
      //-   //- a.in-progress(href='/achievements')
      //-   //-   | 🏆 Достижения
      //- li
      //-   span.in-progress 🐵 O Мартинсоне
      //-   //- a(href='/martyns0n')
      //-   //-   | 🐵 O Мартинсоне