.notion-cursor-default > div > div > div > div > div > div {
  opacity: 1 !important;
}

.loading-spinner {
  display: none !important;
}

article {
  font-size: 18px;
}

/* styles for notion table of contents */
.notion-table_of_contents-block > div > div:hover {
  background-color: #777;
  color: white !important;
  border-radius: 8px;
  padding: 0 4px;
}

@media screen and (min-width: 768px) {
  .notion-table_of_contents-block {
    margin-top: 72px !important;
    width: 240px !important;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    display: block;
    opacity: 0.3;
    transition: opacity ease-out 0.3s;
    background-color: #ffffffff
  }
  
  .notion-table_of_contents-block:hover {
    opacity: 1;
  }
}